@charset "UTF-8";
$left: 356px;
$right-span: 165px;
$right-new: 198px;
$success-color: #d3f5e7;
$error-color: #f9d8d9;
$title-color: #deb887;
$style-height: 34px;
$common-color: #60b5ff;

/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
textarea {
  font-size: 14px;
  color: #333;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background-color: transparent;
}
table {
  border-collapse:collapse;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}


body {
  font-size: 14px;
  color: #333;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

h3 {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.header {
  padding: 10px 10px 20px;
  border-bottom: 1px solid #ddd;
  .server {
    background-color: #f6f6f6;
    padding: 10px 0;
  }
  li {
    float: left;
    width: 20%;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 20px;
    i {
      display: inline-block;
      width: 70px;
      text-align: right;
    }
    span {
      padding: 1px 5px;
      background-color: #d8c58c;
      border-radius: 2px;
      font-weight: normal;
    }
  }
  .choose {
    padding: 0 10px;
    margin-top: 10px;
    overflow: hidden;
    label {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
      width: 14px;
      height: 14px;
    }
  }
  .selected {
    padding: 10px;
    p {
      margin-bottom: 10px;
      display: none;
      span {
        display: inline-block;
        padding: 1px 5px;
        background-color: #d8c58c;
        border-radius: 2px;
        margin: 0 10px 6px 0;
      }
    }
  }
}


.content {
  padding: 10px;
  //width: 1366px;
  .server-style {
    position: absolute;
    top: 0;
    left: 0;
    width: $right-span * 6;
    height: $style-height;
    cursor: pointer;
    span {
      float: left;
      width: $right-span;
      height: $style-height;
      line-height: $style-height;
      border-right: 1px dashed #999;
    }
  }
  table.server-table {
    //width: $left + $right;
    &>tbody {
      &>tr {
        &:first-of-type {
          background-color: $title-color;
          td:first-of-type {
            background-color: $title-color;
            text-align: center;
            font-weight: bold;
          }
        }
        &>td {
          border: 1px solid #ddd;
          &:first-of-type {
            //width: $left;
            background-color: #f1f1f1;
            vertical-align: top;
            padding-top: 7px;
          }
          &:last-of-type {
            width: $right-span * 6;
          }
        }
      }
    }

    .server-title {
      position: relative;
      height: $style-height;
      .server-tip {
        position: absolute;
        width: $right-span * 6;
        top: 7px;
        left: $right-span/2;
        z-index: 112;
        b {
          float: left;
          width: $right-span;
          text-align: center;
        }
      }
    }
    .server-detail {
      position: relative;
      .server-state {
        p {
          height: $style-height;
          line-height: $style-height;
          background-color: $success-color;
        }
      }
      .error-state {
        p {
          height: $style-height;
          line-height: $style-height;
          background-color: $error-color;
        }
      }
    }
    table.server-list {
      display: none;
      tr {
        border-top: 1px solid #ddd;
        td {
          padding: 7px 5px;
          &:first-of-type {
            width: 100px;
            background-color: #eee;
            text-align: right;
            font-weight: bold;
            color: #444;
          }
          .server-code {
            display: inline-block;
            width: 80px;
            line-height: 22px;
            text-align: center;
            border-radius: 4px;
          }
          .success-code {
            background-color: $success-color;
          }
          .error-code {
            background-color: $error-color;
          }
          &.process {
            position: relative;
            ul {
              display: none;
            }
            &.list-fold {
              p {
                display: none;
              }
              ul {
                display: block;
                li:nth-of-type(even) {
                  background-color: #f3f3f3;
                }
              }
            }
          }
        }
      }
      a.fold {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        background: url("../img/icon-down.png") no-repeat center;
        background-size: 20px;
        right: 0;
        top: 0;
        &.active {
          background: url("../img/icon-up.png") no-repeat center;
          background-size: 20px;
        }
      }
      textarea {
        width: $right-span * 6 - 98px;
        height: 100px;
        vertical-align: middle;
        border: none;
        outline: none;
        resize: none;
      }
    }
  }
}
.content-new {
  .server-style {
    width: $right-new * 5;
    span {
      float: left;
      width: $right-new;
    }
  }
  table.server-table {
    //width: $left + $right;
    & > tbody {
      & > tr {
        & > td {
          &:last-of-type {
            width: $right-new * 5;
          }
        }
      }
    }
    .server-title {
      .server-tip {
        width: $right-new * 5;
        left: $right-new/2;
        b {
          width: $right-new;
        }
      }
    }
    table.server-list {
      textarea {
        width: $right-new * 5 - 98px;
      }
    }
  }
}
.search {
  padding: 30px 10px;
  border-bottom: 1px solid #ddd;
  height: 107px;
  .search-box {
    &>div {
      float: left;
    }
  }
  .search-span {
    position: relative;
    width: 101px;
    span {
      display: inline-block;
      width: 101px;
      height: 45px;
      background: #f6f6f6;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      b {
        font-weight: normal;
      }
      i {
        padding: 8px;
        background: url("../img/icon-triangle.png") no-repeat center;
        background-size: 16px;
        margin-left: 2px;
      }
    }
    ul {
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      z-index: 11111;
      background-color: #fff;
      -webkit-box-shadow: 0 0 8px 2px rgba(191,191,191,.42);
      box-shadow: 0 0 8px 2px rgba(191,191,191,.42);
      -webkit-border-radius: 4px;
      border-radius: 4px;
      display: none;
      li {
        line-height: 36px;
        padding-left: 5px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
  .search-input {
    width: 420px;
    height: 45px;
    border: 1px solid #e5e5e5;
    border-left: none;
  }
  .search-btn {
    width: 100px;
    height: 46px;
    line-height: 44px;
    text-align: center;
    background-color: $title-color;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    letter-spacing: 2px;
    font-size: 16px;
  }
  input {
    width: 400px;
    height: 42px;
    border: none;
    padding-left: 8px;
    outline: none;
  }
}

.result {
  padding: 20px 10px;
  thead {
    background-color: $title-color;
  }
  th, td {
    padding: 10px 3px;
    border: 1px solid #ddd;
  }
  tr {
    cursor: pointer;
    &:nth-of-type(even) {
      background-color: #f1f1f1;
    }
    &:hover {
      background-color: rgba($title-color, .2);
    }
  }
  .pagination {
    margin-top: 20px;
    float: right;
    ul {
      overflow: hidden;
    }
    li {
      float: left;
      margin-left: 10px;
      line-height: 14px;
      background-color: #eee;
      padding: 10px;
      a:hover {
        color: $title-color;
      }
      &.active {
        background-color: $title-color;
        a {
          color: #fff;
        }
      }
    }
  }
}

.nav {
  height: 66px;
  line-height: 66px;
  box-shadow: 0 0 4px 4px #ddd;
  li {
    float: left;
    padding: 0 40px;
    font-size: 16px;
    font-weight: bold;
    &.active {
      background-color: $title-color;
    }
  }
}