@charset "UTF-8";
$left: 356px;
$right-span: 165.2px;
$right: $right-span*6;
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
textarea {
  resize: none;
}
table {
  width: 100%;
  border-collapse:collapse;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}


body {
  font-size: 14px;
  color: #333;
}

h3 {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.header {
  padding: 10px 10px 20px;
  border-bottom: 1px solid #ddd;
  .server {
    background-color: #f6f6f6;
    padding: 10px 0;
  }
  li {
    float: left;
    width: 20%;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 20px;
    i {
      display: inline-block;
      width: 70px;
      text-align: right;
    }
    span {
      padding: 1px 5px;
      background-color: #d8c58c;
      border-radius: 2px;
      font-weight: normal;
    }
  }
  .choose {
    padding: 0 10px;
    margin-top: 10px;
    input {
      vertical-align: middle;
      width: 14px;
      height: 14px;
    }
  }
}


.content {
  padding: 10px;
  width: 1366px;
  .server-content {
    width: 1346px;
  }
  p {
    height: 34px;
    line-height: 34px;
  }
  .server-style {
    position: absolute;
    top: 0;
    left: $left;
    width: $right;
    span {
      float: left;
      display: inline-block;
      width: 1px;
      height: 34px;
      margin-right: $right-span - 1px;
      line-height: 34px;
      border-left: 1px dashed #999;
    }
  }
  .server-tip {
    position: absolute;
    left: $left - 4px;
    z-index: 112;
    b {
      &:nth-of-type(2) {
        margin-left: $right-span - 40px;
      }
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6){
        margin-left: $right-span - 80px;
      }
    }
  }
  .server-name {
    float: left;
    width: $left;
    background-color: #525d76;
    font-weight: bold;
  }
  .server-title {
    position: relative;
    .server-name {
      background-color: #ffdc75;
      text-align: center;
    }
    .server-style {
      background-color: #ffdc75;
    }
  }
  .server-state {
    position: relative;
    top: 0;
    left: 0;
    background-color: #ebfaf4;
  }
  .server-head {
    position: relative;
    border-top: 1px solid #fff;
    overflow: hidden;
    cursor: pointer;
    .server-name {
      color: #fff;
      &.first-name {
        text-indent: 4px;
      }
      &.second-name {
        text-indent: 24px;
      }
      &.third-name {
        text-indent: 44px;
      }
    }
  }
  .server-right {
    position: absolute;
    left: $left;
    top: 0;
    width: $right;
    .server-style {
      left: 0;
      z-index: 112;
    }
    .server-state {
      position: absolute;
      z-index: 111;
      width: 100%;
      padding-left: 3px;
    }
    .error-state {
      position: absolute;
      z-index: 111;
      width: 100%;
      background-color: #ffeced;
      padding-left: 3px;
    }
  }
  .server-detail {
    border: 1px solid #ddd;
    width: $right;
    margin-left: $left;
    display: none;
    & > div {
      margin: 10px 0;
      &>p {
        display: inline-block;
        vertical-align: middle;
      }
    }
    label {
      display: inline-block;
      vertical-align: middle;
      width: 80px;
      text-align: right;
      font-weight: bold;
    }
    textarea {
      width: $right - 100px;
      vertical-align: middle;
    }
  }
}