@charset "UTF-8";
$left: 356px;
$right-span: 165px;
$right: $right-span*6;
$success-color: #d3f5e7;
$error-color: #f9d8d9;
$title-color: #b2b2b2;
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
textarea {
  resize: none;
}
table {
  width: 100%;
  border-collapse:collapse;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}


body {
  font-size: 14px;
  color: #333;
}

h3 {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.header {
  padding: 10px 10px 20px;
  border-bottom: 1px solid #ddd;
  .server {
    background-color: #f6f6f6;
    padding: 10px 0;
  }
  li {
    float: left;
    width: 20%;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 20px;
    i {
      display: inline-block;
      width: 70px;
      text-align: right;
    }
    span {
      padding: 1px 5px;
      background-color: #d8c58c;
      border-radius: 2px;
      font-weight: normal;
    }
  }
  .choose {
    padding: 0 10px;
    margin-top: 10px;
    overflow: hidden;
    label {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      vertical-align: middle;
      width: 14px;
      height: 14px;
    }
  }
  .selected {
    padding: 10px;
    p {
      margin-bottom: 10px;
      display: none;
      span {
        display: inline-block;
        padding: 1px 5px;
        background-color: #d8c58c;
        border-radius: 2px;
        margin: 0 10px 6px 0;
      }
    }
  }
}


.content {
  padding: 10px;
  width: 1366px;
  .server-content {
    width: $left + $right;
    border: 1px solid #ddd;
    overflow: hidden;
  }
  p {
    height: 34px;
    line-height: 34px;
  }
  .server-style {
    position: absolute;
    top: 0;
    left: $left;
    width: $right;
    span {
      float: left;
      width: $right-span;
      height: 34px;
      line-height: 34px;
      border-right: 1px dashed #999;
    }
  }
  .server-tip {
    position: absolute;
    left: $left - $right-span/2;
    z-index: 112;
    b {
      float: left;
      width: $right-span;
      text-align: center;
      &:last-of-type {
        width: $right-span/2 - 2px;
        text-align: right;
      }
    }
  }
  .server-name {
    float: left;
    width: $left;
    background-color: $title-color;
    font-weight: bold;
  }
  .server-title {
    position: relative;
    .server-name {
      background-color: $title-color;
      text-align: center;
    }
    .server-style {
      background-color: $title-color;
    }
  }
  .server-state {
    position: relative;
    top: 0;
    left: 0;
    background-color: $success-color;
  }
  .server-head {
    position: relative;
    border-top: 1px solid #fff;
    overflow: hidden;
    cursor: pointer;
    .server-name {
      &.first-name {
        text-indent: 4px;
      }
      &.second-name {
        text-indent: 8px;
      }
      &.third-name {
        text-indent: 12px;
      }
    }
  }
  .server-right {
    position: absolute;
    left: $left;
    top: 0;
    width: $right;
    .server-style {
      left: 0;
      z-index: 112;
    }
    .server-state {
      position: absolute;
      z-index: 111;
      width: 100%;
      padding-left: 3px;
    }
    .error-state {
      position: absolute;
      z-index: 111;
      width: 100%;
      background-color: $error-color;
      padding-left: 3px;
    }
  }
  .server-detail {
    border-left: 1px solid #ddd;
    width: $right;
    margin-left: $left;
    display: none;
    table {
      tr {
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f9f9f9;
        width: 80px;
        padding: 8px;
        text-align: right;
      }
      td {
        padding: 8px;
        &.ul-auto {
          ul {
            height: auto;
          }
          p {
            background: url("../img/icon-up.png") no-repeat center;
            background-size: 20px 20px;
          }
        }
      }
      textarea {
        width: 100%;
        height: 140px;
        border: none;
        outline: none;
      }
      ul {
        padding-left: 20px;
        height: 60px;
        overflow: hidden;
      }
      li {
        list-style: circle;
      }
      p {
        height: 40px;
        background: url("../img/icon-down.png") no-repeat center;
        background-size: 20px 20px;
      }
    }
  }
}