@charset "UTF-8";
$left: 326px;
$right-span: 170px;
$right: $right-span*6;
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
textarea {
  resize: none;
}
table {
  width: 100%;
  border-collapse:collapse;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}


body {
  font-size: 14px;
  color: #333;
}

h3 {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.header {
  padding: 10px 10px 20px;
  border-bottom: 1px solid #ddd;
  .server {
    background-color: #f6f6f6;
    padding: 10px 0;
  }
  li {
    float: left;
    width: 20%;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 20px;
    i {
      display: inline-block;
      width: 70px;
      text-align: right;
    }
    span {
      padding: 1px 5px;
      background-color: #d8c58c;
      border-radius: 2px;
      font-weight: normal;
    }
  }
  .choose {
    padding: 0 10px;
    margin-top: 10px;
    input {
      vertical-align: middle;
      width: 14px;
      height: 14px;
    }
  }
}


.content {
  padding: 10px;
  width: 1366px;
  .server-content {
    width: 1346px;
  }
  p {
    height: 34px;
    line-height: 34px;
  }
  .server-style {
    position: absolute;
    top: 0;
    left: $left;
    width: $right;
    span {
      float: left;
      display: inline-block;
      width: 1px;
      height: 34px;
      margin-right: $right-span - 1px;
      line-height: 34px;
      border-left: 1px dashed #999;
    }
  }
  .server-name {
    float: left;
    width: $left;
    background-color: #525d76;
  }
  .server-title {
    position: relative;
    .server-name {
      background-color: #525d76;
    }
    .server-style {
      background-color: #ebfaf4;
    }
  }
  .server-state {
    position: relative;
    top: 0;
    left: 0;
    background-color: #ebfaf4;
  }
  .server-item {
    position: relative;
    border-top: 1px solid #fff;
  }
  .server-right {
    position: absolute;
    left: $left;
    top: 0;
    width: $right;
    .server-style {
      left: 0;
      z-index: 112;
    }
    .server-news {
      position: absolute;
      z-index: 111;
      width: 100%;
    }
    .server-detail {
      border: 1px solid #ddd;
      width: 100%;
      & > div {
        margin: 10px 0;
      }
      label {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        text-align: right;
      }
    }
  }
}

table {
  th {
    background-color: #ffdc75;
    border: 2px solid #fff;
    padding: 4px;
    width: 14.2%;
  }
  td {
    border: 2px solid #fff;
    p {
      padding: 4px;
    }
    &.server-name {
      p {
        background-color: #525d76;
        color: #fff;
      }
    }
    &.server-error {
      background-color: #ffeced;
    }
    a {
      color: #fff;
      font-size: 16px;
    }
    &.server-detail {
      border: 3px solid #dbdbdb;
    }
    &.server-state {
      p {
        background-color: #EBF4FA;
      }
    }

  }
  dl {
    line-height: 22px;
    overflow: hidden;
  }
  dt {
    display: inline-block;
    width: 8%;
    vertical-align: middle;
    word-break: break-all;
  }
  dd {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    textarea {
      width: 100%;
      height: 160px;
      padding: 4px;
    }
  }
}