.item {
  border-bottom: 1px solid #c4c4c4;
  padding: 0.32rem 0;
  line-height: 0.48rem;
  overflow: hidden;
}
.item input,
.item select,
.item .m-select,
.item .item-choose {
  float: right;
  width: 55%;
  height: 0.48rem;
  line-height: 0.48rem;
  text-align: right;
}
.item .m-select {
  padding-right: 0.4rem;
  background: url("../img/icon-down.png") no-repeat center right;
}
.item select {
  direction: rtl;
  background: url("../img/icon-down.png") no-repeat center right;
  padding-right: 0.4rem;
}
.item i.delete {
  float: right;
  width: 0.48rem;
  height: 0.48rem;
  background: url("../img/icon-delete.png") no-repeat center;
  background-size: 0.32rem;
  display: none;
}
.item .item-choose {
  margin-top: -0.08rem;
}
.item .item-choose span {
  display: inline-block;
  width: 1.44rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background: #efefef;
  border-radius: 0.16rem;
  text-align: center;
  margin-left: 0.32rem;
}
.item .item-choose span.active {
  border: 1px solid #4988fe;
  color: #4988fe;
  background: #fff url("../img/icon-choosed.png") no-repeat right bottom;
  background-size: 0.4rem 0.36rem;
}

.btn {
  display: inline-block;
  background-color: #d9d9d9;
  color: #fff;
  border-radius: 0.48rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-weight: bold;
  font-size: 0.32rem;
  text-align: center;
}

.btn-common {
  background-color: #4988fe;
}

.btn-hollow {
  background-color: #fff;
  border: 2px solid #4988fe;
  color: #4988fe;
}

.switch {
  position: relative;
  float: right;
  width: 1rem;
  height: 0.58rem;
  border: 0.02rem solid #e5e5e5;
  border-radius: 0.3rem;
}
.switch i {
  position: absolute;
  left: 0.01rem;
  display: block;
  width: 0.54rem;
  height: 0.54rem;
  border-radius: 0.27rem;
  background-color: #fff;
  box-shadow: 0 0 0.03rem #333;
}
.switch.active {
  background-color: #4988fe;
  border: 0.02rem solid #4988fe;
}
.switch.active i {
  left: 0.4rem;
  box-shadow: none;
}

.header {
  position: relative;
  height: 0.96rem;
  line-height: 0.96rem;
  background-color: #f9f9f9;
}
.header h2 {
  width: 100%;
  font-size: 0.36rem;
  color: #000;
  text-align: center;
}
.header a {
  position: absolute;
  top: 0;
  right: 0.32rem;
  font-size: 0.28rem;
  color: #0059d1;
  font-weight: bold;
}
.header i {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.88rem;
  height: 0.96rem;
  background: url("../img/icon-left.png") no-repeat center;
  background-size: 0.24rem 0.42rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  padding-top: 0.2rem;
  background-color: #f8f8f8;
  font-size: 0.2rem;
}
.footer div {
  float: left;
  text-align: center;
  width: 50%;
}
.footer div i {
  display: block;
  width: 0.48rem;
  height: 0.48rem;
  margin: 0 auto 0.1rem;
}
.footer div.contrast i {
  background: url("../img/contrast.png") no-repeat center;
  background-size: 0.48rem;
}
.footer div.contrast.active i {
  background: url("../img/contrast-a.png") no-repeat center;
  background-size: 0.48rem;
}
.footer div.my-tab i {
  background: url("../img/my.svg") no-repeat center;
  background-size: 0.48rem;
}
.footer div.my-tab.active i {
  background: url("../img/my-a.svg") no-repeat center;
  background-size: 0.48rem;
}

.login-box {
  padding: 0 0.64rem;
}
.login-box .btn {
  margin-top: 0.6rem;
  width: 100%;
}
.login-box .tip {
  margin-top: 0.32rem;
  font-size: 0.22rem;
}
.login-box .tip a {
  color: #4988fe;
}
.login-box .title {
  font-size: 0.48rem;
  color: #4988fe;
  padding: 1.4rem 0;
  font-weight: bold;
}
.login-box .title span {
  font-size: 0.32rem;
  color: #5d5d5d;
  font-weight: normal;
}
.login-box .item input {
  float: left;
  text-align: left;
}

.attestation {
  padding: 0 0.64rem 2rem;
}
.attestation .title {
  padding: 1.28rem 0 0.64rem 1.12rem;
  background: url("../img/icon-ensure.png") no-repeat 0 1.28rem;
  background-size: 0.8rem;
}
.attestation .title p {
  font-size: 0.48rem;
  color: #4988fe;
  font-weight: bold;
  margin-bottom: 0.32rem;
}
.attestation input,
.attestation select {
  float: right;
  width: 55%;
  text-align: right;
}
.attestation select {
  direction: rtl;
  background: url("../img/icon-down.png") no-repeat center right;
  padding-right: 0.4rem;
}

.handle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  padding: 0.4rem 0;
  background-color: #f8f8f8;
}
.handle a {
  display: inline-block;
  width: 50%;
  float: left;
  font-size: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
}
.handle a:first-of-type {
  border-right: 1px solid #c4c4c4;
}
.handle a:last-of-type {
  color: #4988fe;
}

.vip {
  padding-bottom: 0.6rem;
}
.vip .title {
  color: #4988fe;
  font-size: 0.48rem;
  padding: 0.66rem 0.64rem;
}
.vip .equities {
  padding: 0 0.64rem;
}
.vip .equities h4 {
  font-size: 0.4rem;
  margin-bottom: 0.2rem;
}
.vip .equities p {
  font-size: 0.28rem;
  line-height: 0.46rem;
}
.vip .get-vip {
  padding: 0 0.64rem;
  margin-top: 1rem;
}
.vip .get-vip h4 {
  font-size: 0.4rem;
  padding-bottom: 0.32rem;
  border-bottom: 1px solid #d8d8d8;
}
.vip .get-vip ul li {
  border-bottom: 1px solid #d8d8d8;
  padding: 0.48rem 0;
  overflow: hidden;
  font-size: 0.36rem;
}
.vip .get-vip ul li span {
  float: left;
  font-family: Osaka;
  font-size: 0.6rem;
  color: #bababa;
  width: 0.8rem;
}
.vip .get-vip ul li div {
  float: left;
  width: 5.3rem;
}
.vip .get-vip ul li div p {
  margin-bottom: 0.32rem;
}
.vip .get-vip ul li div b {
  font-size: 0.84rem;
  margin-right: 0.1rem;
  font-weight: normal;
}
.vip .get-vip ul li div .btn {
  width: 2.88rem;
}
.vip .order {
  padding: 0.48rem 0.64rem;
  font-size: 0.28rem;
  text-align: center;
}
.vip .order .vip-card {
  height: 3.62rem;
  background: url("../img/vipcard.png") no-repeat center;
  background-size: 100%;
  padding-top: 1.28rem;
}
.vip .order .vip-card p {
  color: #fff;
}
.vip .order .vip-card p b {
  font-size: 0.84rem;
  margin-right: 0.1rem;
}
.vip .order .vip-card p:first-of-type {
  font-size: 0.4rem;
}
.vip .order-style {
  padding: 0 0.64rem;
}
.vip .order-style ul {
  margin-top: 0.16rem;
}
.vip .order-style li {
  border-bottom: 1px solid #c4c4c4;
  padding: 0.32rem 0;
  line-height: 0.32rem;
  background: url("../img/icon-right.png") no-repeat center right;
}
.vip .order-style li img {
  vertical-align: middle;
}
.vip .order-style li span {
  vertical-align: middle;
  margin-left: 0.32rem;
}
.vip .order-style button {
  width: 100%;
  margin-top: 1.28rem;
}

.my-info {
  padding-bottom: 1.36rem;
}
.my-info .info {
  height: 4.68rem;
  background: url("../img/info-bg.png") no-repeat center;
  background-size: 100%;
  color: #fff;
  padding: 1.76rem 0.32rem 0;
}
.my-info .info .photo {
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.8rem;
  background-color: #fff;
  overflow: hidden;
}
.my-info .info .photo img {
  width: 1.6rem;
  height: 1.6rem;
}
.my-info .info .detail {
  float: left;
  margin-left: 0.32rem;
}
.my-info .info .detail h3 {
  font-size: 0.52rem;
  margin-bottom: 0.16rem;
}
.my-info .info .detail p {
  font-size: 0.28rem;
}
.my-info .info .detail p:last-of-type {
  font-size: 0.2rem;
}
.my-info .my-list {
  background-color: #fff;
  margin-top: -0.88rem;
  border-radius: 0.32rem;
  font-size: 0.36rem;
  line-height: 0.48rem;
  padding: 0 0.48rem 0.32rem;
}
.my-info .my-list li {
  background: url("../img/icon-right.png") no-repeat center right;
  border-bottom: 1px solid #c4c4c4;
  overflow: hidden;
}
.my-info .my-list li a {
  display: block;
  padding: 0.64rem 0.64rem 0.64rem 0.16rem;
}
.my-info .my-list li i {
  float: right;
  font-size: 0.24rem;
  padding: 0 0.16rem;
  border: 2px solid #4988fe;
  border-radius: 0.16rem;
  vertical-align: middle;
  color: #4988fe;
  font-weight: bold;
}
.my-info .my-list li span {
  vertical-align: middle;
}

.modify-photo {
  text-align: center;
  padding: 2rem 1rem;
}
.modify-photo .img-box {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 1px dashed #ff0000;
}
.modify-photo .img-box img {
  position: relative;
  width: 100%;
  transform-origin: center;
}
.modify-photo .choose-img {
  margin-top: 1rem;
}
.modify-photo p {
  position: relative;
  width: 3.2rem;
}
.modify-photo input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.authentication {
  padding-bottom: 1.2rem;
}
.authentication .item {
  margin: 0 0.64rem;
}
.authentication .item input, .authentication .item select {
  float: right;
}
.authentication .handle a {
  width: 100%;
}

.order-list .details {
  padding: 0 0.32rem;
}
.order-list .details li {
  padding: 0.32rem 0;
  border-bottom: 1px solid #c4c4c4;
}
.order-list .details li p {
  line-height: 0.48rem;
  font-size: 0.24rem;
  overflow: hidden;
}
.order-list .details li p i {
  float: right;
}
.order-list .details li dl {
  margin-top: 0.16rem;
  overflow: hidden;
}
.order-list .details li dl dt {
  float: left;
  width: 70%;
}
.order-list .details li dl dd {
  float: right;
  width: 30%;
  font-size: 0.48rem;
  text-align: right;
}
.order-list .details li dl h5 {
  font-size: 0.32rem;
}
.order-list .details li dl i {
  color: #bababa;
  font-size: 0.24rem;
}

.plan-body {
  background-color: #ebebeb;
}

.plan {
  padding-bottom: 1.2rem;
}
.plan input::-webkit-input-placeholder {
  font-size: 0.3rem;
}
.plan .header {
  background-color: #f2f2f2;
}
.plan .title {
  background-color: #f2f2f2;
  height: 1.1rem;
}
.plan .title a {
  display: inline-block;
  text-align: center;
  color: #7e7e7e;
  margin: 0 0.32rem;
  line-height: 1.08rem;
}
.plan .title a.active {
  font-size: 0.44rem;
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #4988fe;
}
.plan .add-btn {
  display: block;
  width: 4.8rem;
  margin: 0.48rem auto;
}
.plan .list-none {
  text-align: center;
  padding-top: 1.2rem;
}
.plan .list-none img {
  width: 4rem;
}
.plan .list-header {
  position: relative;
  height: 2.72rem;
}
.plan .list-header img {
  position: absolute;
  left: 0.8rem;
  bottom: 0.32rem;
  width: 2.4rem;
  z-index: 10000;
}
.plan .list-header .btn {
  position: absolute;
  width: 4rem;
  right: 0.96rem;
  bottom: 0.8rem;
  z-index: 9999;
}
.plan .plan-list {
  padding: 0 0.2rem;
  min-height: 100%;
}
.plan .plan-list li {
  padding: 0.32rem 0.2rem;
  background-color: #fff;
  border-radius: 0.2rem;
  margin-bottom: 0.32rem;
}
.plan .plan-list li h3 {
  color: #0b5fbd;
  font-size: 0.32rem;
  font-weight: normal;
  margin-bottom: 0.24rem;
}
.plan .plan-list li p {
  padding-left: 0.6rem;
  margin-top: 0.16rem;
}
.plan .plan-list li p:first-of-type {
  background: url("../img/icon-a.png") no-repeat left center;
}
.plan .plan-list li p:last-of-type {
  background: url("../img/icon-b.png") no-repeat left center;
}
.plan .collect-input {
  position: relative;
  padding: 0.32rem;
}
.plan .collect-input input {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.48rem;
  padding: 0 0 0 0.96rem;
  background: #e2e2e2 url("../img/icon-search.png") no-repeat 0.32rem center;
}
.plan .collect-input.collect-add-input {
  background-color: #f2f2f2;
}
.plan .collect-input.collect-add-input input {
  border-radius: 0;
  background-color: #f2f2f2;
  background-position: 0.16rem center;
  padding-left: 0.8rem;
}
.plan .collect-input i {
  position: absolute;
  right: 0;
  top: 0.32rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url("../img/icon-delete.png") no-repeat center;
  display: none;
}
.plan .collect-list {
  padding: 0 0.2rem;
}
.plan .collect-list li {
  padding: 0.32rem 0.2rem;
  background-color: #fff;
  border-radius: 0.2rem;
  margin-bottom: 0.32rem;
  line-height: 0.96rem;
}
.plan .collect-list li img {
  width: 0.96rem;
  height: 0.96rem;
  vertical-align: middle;
}
.plan .collect-list li span {
  display: inline-block;
  width: 4rem;
  line-height: 0.4rem;
  vertical-align: middle;
}
.plan .collect-list li a {
  float: right;
  display: inline-block;
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 0.48rem;
  background-color: #4988fe;
  color: #fff;
  font-size: 0.3rem;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}
.plan .collect-history {
  padding: 0 0.32rem;
}
.plan .collect-history li {
  padding: 0.32rem 0.8rem;
  background: url("../img/icon-history.png") no-repeat 0.16rem center;
  border-bottom: 1px solid #c4c4c4;
  font-size: 0.3rem;
  color: #000;
}
.plan .collect-search {
  background-color: #fff;
  padding: 0 0.32rem 0.32rem;
  position: absolute;
  top: 2.4rem;
  left: 0;
  width: 100%;
  display: none;
  margin-bottom: 1.2rem;
}
.plan .collect-search li {
  line-height: 0.64rem;
  padding: 0.32rem 0;
  border-bottom: 1px solid #c4c4c4;
}
.plan .collect-search li img {
  width: 0.64rem;
  height: 0.64rem;
  vertical-align: middle;
}
.plan .collect-search li span {
  display: inline-block;
  width: 5rem;
  font-size: 0.3rem;
  color: #000;
}
.plan .collect-search li i {
  float: right;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../img/icon-collect.png") no-repeat center;
}
.plan .collect-search li i.active {
  background: url("../img/icon-collected.png") no-repeat center;
}
.plan .compare {
  position: relative;
  background: url("../img/compare-line.png") no-repeat 0.64rem 1.12rem;
  background-size: 0.02rem 1.08rem;
}
.plan .compare input {
  width: 5.44rem;
  line-height: 0.96rem;
  padding-right: 0.48rem;
  border-bottom: 1px solid #c4c4c4;
}
.plan .compare .plan-compare {
  position: relative;
  padding: 0.32rem 0.64rem 0.32rem 1.28rem;
}
.plan .compare .plan-compare:nth-child(1) {
  background: url("../img/plan-a.png") no-repeat 0.32rem center;
  background-size: 0.64rem;
}
.plan .compare .plan-compare:nth-child(2) {
  background: url("../img/plan-b.png") no-repeat 0.32rem center;
  background-size: 0.64rem;
}
.plan .compare .plan-compare a {
  position: absolute;
  right: 0.64rem;
  top: 0.56rem;
  width: 0.48rem;
  height: 0.48rem;
  background: url("../img/icon-delete.png") no-repeat center;
  background-size: 0.32rem;
  display: none;
}
.plan .compare .plan-compare ul {
  position: absolute;
  top: 1.36rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 0.16rem;
  z-index: 1111;
  display: none;
}
.plan .compare .plan-compare ul li {
  padding: 0.32rem 0.32rem 0.32rem 1.28rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plan .compare .compare-switch {
  position: absolute;
  top: 1.4rem;
  left: 0.4rem;
  width: 0.48rem;
  height: 0.48rem;
  background: url("../img/icon-vs.png") no-repeat center;
  background-size: 0.32rem;
}
.plan .compare .compare-switch i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon-rotate.png") no-repeat center;
  background-size: 0.48rem;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
.plan .compare .compare-switch i.active {
  transform: rotate(180deg);
}

.custom {
  padding-bottom: 1.2rem;
}
.custom .custom-item {
  padding: 0 0.32rem;
  margin-bottom: 0.64rem;
}
.custom h3 {
  font-size: 0.3rem;
  margin-top: 0.32rem;
}
.custom .btn {
  width: 4rem;
  margin: 0 auto 0.4rem;
}
.custom .handle {
  text-align: center;
  padding: 0.2rem 0;
}

.gray-bg {
  background-color: #ebebeb;
}

.product-detail .table-box {
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: 0.08rem;
  overflow: hidden;
  margin-bottom: 0.48rem;
  padding-bottom: 0.16rem;
}
.product-detail table {
  font-size: 0.28rem;
}
.product-detail th, .product-detail td {
  padding: 0.16rem;
  border: 1px solid #c4c4c4;
  text-align: center;
}
.product-detail th {
  background-color: #f8f8f8;
  font-size: 0.24rem;
  font-weight: bold;
}
.product-detail td {
  vertical-align: top;
}

.product-name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.92rem;
  padding: 0.32rem;
  background-color: #fff;
  z-index: 10000;
}
.product-name .p-logo {
  float: left;
  width: 1.6rem;
  text-align: center;
}
.product-name .p-logo img {
  width: 1.14rem;
}
.product-name .p-info h2 {
  font-size: 0.32rem;
}
.product-name .p-info p {
  font-size: 0.26rem;
  color: #c4c4c4;
  text-align: right;
}

.product-intro {
  margin-top: 1.92rem;
  font-size: 0.24rem;
  background-color: #fff;
}
.product-intro ul {
  overflow: hidden;
  padding: 0 0.32rem;
}
.product-intro li {
  position: relative;
  float: left;
  height: 0.52rem;
  border-radius: 0.32rem;
  margin: 0 0.32rem 0.24rem 0;
  overflow: hidden;
}
.product-intro li p {
  line-height: 0.36rem;
  padding: 0.1rem 0.32rem;
}
.product-intro li.liShow {
  height: auto;
}
.product-intro li b {
  font-weight: bold;
}
.product-intro li i {
  position: absolute;
  right: 0.18rem;
  top: 0.2rem;
  float: left;
  width: 0;
  height: 0;
  border: 0.12rem solid;
}
.product-intro li:nth-of-type(4n+1) {
  background-color: #f2f7ff;
  color: #4988fe;
}
.product-intro li:nth-of-type(4n+1) i {
  border-color: #4988fe transparent transparent;
}
.product-intro li:nth-of-type(4n+2) {
  background-color: #fff8f0;
  color: #ff9124;
}
.product-intro li:nth-of-type(4n+2) i {
  border-color: #ff9124 transparent transparent;
}
.product-intro li:nth-of-type(4n+3) {
  background-color: #fff7f7;
  color: #ff7171;
}
.product-intro li:nth-of-type(4n+3) i {
  border-color: #ff7171 transparent transparent;
}
.product-intro li:nth-of-type(4n) {
  background-color: #f2fcff;
  color: #ff7171;
}
.product-intro li:nth-of-type(4n) i {
  border-color: #ff7171 transparent transparent;
}

.product-title {
  padding: 0.32rem 0;
}
.product-title h3 {
  text-align: center;
  font-size: 0.32rem;
}
.product-title h3:before, .product-title h3:after {
  content: "-";
  padding: 0 0.16rem;
  color: #4988fe;
  font-weight: bold;
}
.product-title span {
  float: right;
  width: 1.44rem;
  height: 0.48rem;
  line-height: 0.48rem;
  text-align: center;
  background-color: #4988fe;
  color: #fff;
  border-radius: 0.24rem;
  font-size: 0.26rem;
  margin-top: -0.44rem;
}
.product-title p {
  font-size: 0.24rem;
  color: #c4c4c4;
  text-align: center;
  margin-top: 0.08rem;
}
.product-title p i {
  color: #dd0800;
  margin-right: 0.08rem;
}

.product-item {
  margin-top: 0.16rem;
  padding: 0 0.32rem 0.32rem;
  background-color: #fff;
}

.product-list,
.contrast-box {
  position: relative;
}
.product-list span.more-item,
.contrast-box span.more-item {
  position: absolute;
  left: 50%;
  bottom: -0.14rem;
  width: 1.72rem;
  height: 0.4rem;
  margin-left: -0.86rem;
  background: url("../img/more-item.png") no-repeat center bottom;
  background-size: 1.72rem 0.16rem;
  margin-top: 0.16rem;
}
.product-list span.more-item i,
.contrast-box span.more-item i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon-down-d.png") no-repeat center;
  background-size: 0.22rem;
}
.product-list span.more-item.fold i,
.contrast-box span.more-item.fold i {
  transform: rotate(180deg);
}

.duty {
  margin-top: 0.16rem;
  padding: 0 0.32rem 0.32rem;
  background-color: #fff;
}
.duty h4 {
  font-size: 0.3rem;
  margin-bottom: 0.24rem;
}
.duty h4 a {
  float: right;
  font-size: 0.26rem;
  color: #4988fe;
  font-weight: normal;
}
.duty th, .duty td {
  text-align: left;
  border: none;
}
.duty .item-tip {
  color: #c4c4c4;
  font-size: 0.24rem;
}

.clause a {
  color: #4988fe;
  padding-left: 0.48rem;
  background: url("../img/icon-clause.png") no-repeat left center;
  background-size: 0.32rem;
  font-size: 0.26rem;
}

.page-tip {
  font-size: 0.24rem;
  text-align: center;
  padding: 0.48rem 0;
}
.page-tip a {
  color: #4988fe;
}
.page-tip i {
  color: #dd0800;
  font-weight: bold;
}

.page-handle {
  position: fixed;
  right: 0.32rem;
  bottom: 1rem;
  z-index: 10000;
}
.page-handle a {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #aecdf7;
  border-radius: 0.5rem;
  margin-bottom: 0.16rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.page-handle a:nth-of-type(3) {
  background-image: url("../img/icon-forward.png");
  background-size: 0.38rem 0.34rem;
}

.product-detail .page-handle a:nth-of-type(1) {
  background-image: url("../img/icon-star.png");
  background-size: 0.44rem;
}
.product-detail .page-handle a:nth-of-type(2) {
  background-image: url("../img/icon-vsb.png");
  background-size: 0.48rem 0.36rem;
}

.disease-name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0.32rem;
  background-color: #eff6ff;
  z-index: 10000;
}
.disease-name p {
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.26rem;
}
.disease-name p b {
  font-weight: bold;
}
.disease-name p:first-of-type {
  border-bottom: 1px dotted #c4c4c4;
  color: #ff7f12;
}
.disease-name p:last-of-type {
  color: #4988fe;
}

.disease-list {
  margin-top: 1.56rem;
}
.disease-list .table-box {
  border: 1px solid #c4c4c4;
  border-radius: 0.08rem;
  margin-top: 0.08rem;
}
.disease-list th, .disease-list td {
  padding: 0.16rem;
  text-align: center;
}
.disease-list th {
  border-bottom: 1px solid #c4c4c4;
}
.disease-list td {
  padding: 0.24rem 0.16rem;
  border-right: 1px solid #c4c4c4;
}
.disease-list tr td:first-of-type {
  text-align: left;
}
.disease-list tr td:last-of-type {
  background-color: #f8f8f8;
}
.disease-list.disease-info {
  margin-top: 0;
}
.disease-list.disease-info .disease-item:nth-of-type(1) {
  margin-top: 0;
}

.disease-item {
  margin-top: 0.16rem;
  background-color: #fff;
  font-size: 0.26rem;
  padding: 0.16rem 0.32rem;
}
.disease-item h3 {
  font-size: 0.3rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-weight: normal;
}
.disease-item h3 i {
  float: right;
  width: 0.8rem;
  height: 0.8rem;
  background: url("../img/icon-up.png") no-repeat center;
  background-size: 0.22rem 0.12rem;
}
.disease-item.fold i {
  background: url("../img/icon-down.png") no-repeat center;
  background-size: 0.22rem 0.12rem;
}
.disease-item.fold .table-box {
  display: none;
}

.head-bg {
  background-color: #6caaff;
  height: 2.4rem;
}

.contrast-product {
  position: absolute;
  top: 0.5rem;
  left: 0.32rem;
  width: 6.86rem;
  height: 2.56rem;
  background: #fff url("../img/product-vs.png") no-repeat center;
  background-size: 1rem 2.56rem;
  border-radius: 0.24rem 0.24rem 0 0;
  box-shadow: 0 0 16px #c4c4c4;
  z-index: 1000;
}
.contrast-product .contrast-sign {
  position: absolute;
  top: -0.32rem;
  right: -0.16rem;
  width: 1.36rem;
  height: 1.36rem;
  background: url("../img/icon-sign.png") no-repeat center;
  background-size: 1.36rem;
}
.contrast-product .contrast-tip {
  position: absolute;
  top: 0.32rem;
  right: 0.32rem;
  width: 6.2rem;
  height: 2.2rem;
  background: url("../img/contrast-tip.png") no-repeat center;
  background-size: 6.2rem 2.2rem;
  color: #fff;
  border-radius: 0.16rem;
  padding: 0.32rem 0.32rem;
  font-size: 0.26rem;
}
.contrast-product .contrast-tip p {
  padding: 0.4rem 0 0 0.96rem;
  background: url("../img/icon-switch.png") no-repeat 0.24rem 0.56rem;
  background-size: 0.56rem;
  line-height: 0.48rem;
}
.contrast-product .contrast-tip i {
  float: left;
  width: 0.48rem;
  height: 0.48rem;
  background: url("../img/icon-close-w.png") no-repeat center;
  background-size: 0.22rem;
}
.contrast-product .product {
  float: left;
  width: 50%;
  padding: 0.24rem 0.32rem;
  text-align: center;
}
.contrast-product .product img {
  width: 1.28rem;
  height: 1.28rem;
}
.contrast-product .product p {
  font-size: 0.28rem;
}

.contrast-box {
  padding: 0 0.32rem 0.16rem;
  background-color: #fff;
  margin-bottom: 0.24rem;
  z-index: 999;
}
.contrast-box h4 {
  font-size: 0.3rem;
  margin-bottom: 0.24rem;
}
.contrast-box h4 a {
  float: right;
  font-size: 0.26rem;
  color: #4988fe;
  font-weight: normal;
}
.contrast-box .table-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 0.24rem;
  padding-bottom: 0.16rem;
  font-size: 0.26rem;
}
.contrast-box .table-box td {
  width: 50%;
  padding: 0.14rem;
  text-align: center;
  vertical-align: top;
  border: 1px solid #c4c4c4;
}
.contrast-box .table-box td:first-of-type {
  border-radius: 0.08rem 0 0 0.08rem;
}
.contrast-box .table-box td.light {
  border: 1px solid #ff9124;
  background-color: #fff8f0;
  color: #ff9124;
}
.contrast-box .table-box td:last-of-type {
  border-radius: 0 0.08rem 0.08rem 0;
  background-color: #f8f8f8;
}
.contrast-box .table-box.table-left td {
  text-align: left;
}

.contrast-info {
  padding-top: 0.64rem;
}

.choose-term,
.custom-edit,
.disease-contrast {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 0 0.32rem;
  z-index: 10001;
  display: none;
}
.choose-term .btn,
.custom-edit .btn,
.disease-contrast .btn {
  position: absolute;
  width: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contrast-detail .page-handle a:nth-of-type(1) {
  background-image: url("../img/icon-mine.png");
  background-size: 0.44rem;
}
.contrast-detail .page-handle a:nth-of-type(2) {
  background-image: url("../img/icon-product.png");
  background-size: 0.44rem;
}
.contrast-detail .page-handle i.a-tip {
  position: absolute;
  top: 0;
  right: 0.64rem;
  width: 3.08rem;
  height: 1rem;
  background: url("../img/contrast-mine.png") no-repeat center;
  background-size: 3.08rem 1rem;
  font-size: 0.26rem;
  color: #fff;
  padding: 0.24rem 0.32rem;
}

.plan-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10003;
  display: none;
}
.plan-box .plan-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.48rem;
  background-color: #fff;
  border-radius: 0.16rem;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  padding: 0.16rem 0.16rem 0.32rem;
}
.plan-box .plan-header {
  font-size: 0.34rem;
  text-align: center;
  line-height: 0.64rem;
}
.plan-box .plan-header h4 {
  font-weight: normal;
}
.plan-box .plan-header i {
  float: left;
  width: 0.64rem;
  height: 0.64rem;
  margin-top: -0.64rem;
  background: url("../img/icon-close.png") no-repeat center;
  background-size: 0.32rem;
}
.plan-box .plan-input {
  width: 5.32rem;
  margin: 0.8rem auto 0.48rem;
  border-bottom: 1px solid #c4c4c4;
}
.plan-box .plan-input input {
  width: 100%;
  line-height: 0.64rem;
  text-align: center;
}
.plan-box .btn {
  width: 4.2rem;
  margin-left: 1.14rem;
}

@-webkit-keyframes bounce {
  from,
20%,
53%,
80%,
to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  from,
20%,
53%,
80%,
to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rate-star {
  display: inline-block;
  width: 1.5rem;
  height: 0.3rem;
  overflow: hidden;
  vertical-align: middle;
  background: url("../img/stargray.png") repeat-x;
  background-size: 0.3rem;
  text-align: left;
}
.rate-star i {
  display: inline-block;
  height: 0.3rem;
  background: url("../img/staryellow.png") repeat-x 0 0;
  background-size: 0.3rem;
}
.rate-star.black-star i {
  background: url("../img/starblack.png") repeat-x;
  background-size: 0.3rem;
}

.wechat-share .head-bg {
  height: 4.2rem;
}
.wechat-share .contrast-product {
  top: 2.28rem;
}
.wechat-share .contrast-person {
  position: absolute;
  left: 0.32rem;
  top: 0.24rem;
}
.wechat-share .contrast-person .person-img {
  position: relative;
  float: left;
}
.wechat-share .contrast-person .person-img .img-box {
  width: 1.44rem;
  height: 1.44rem;
  border-radius: 0.72rem;
  overflow: hidden;
  border: 3px solid #ff7703;
}
.wechat-share .contrast-person .person-img .img-box img {
  width: 1.44rem;
}
.wechat-share .contrast-person .person-img .img-intro {
  position: absolute;
  width: 1.66rem;
  height: 0.38rem;
  background: url("../img/person-intro.png") no-repeat center;
  background-size: 1.66rem 0.38rem;
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
  margin: -0.11rem 0 0 -0.11rem;
}
.wechat-share .contrast-person .person-info {
  float: left;
  color: #fff;
  padding-left: 0.32rem;
}
.wechat-share .contrast-person .person-info span {
  font-size: 0.26rem;
}
.wechat-share .contrast-person .person-info p {
  font-size: 0.28rem;
  margin: 0.08rem 0 0.16rem;
}
.wechat-share .contrast-person .person-info b {
  font-size: 0.48rem;
  font-weight: bold;
  margin-right: 0.16rem;
}
.wechat-share .contrast-person .person-info .person-phone {
  width: 100%;
  height: 0.58rem;
  line-height: 0.58rem;
  background-color: rgba(21, 105, 221, 0.3);
  text-align: center;
  font-size: 0.36rem;
  border-radius: 0.48rem;
}
.wechat-share .contrast-person .person-info .person-phone i {
  padding: 0.15rem 0.14rem;
  background: url("../img/icon-phone.png") no-repeat center;
  background-size: 0.22rem 0.3rem;
  margin-right: 0.24rem;
}
