@charset "UTF-8";
/* 进度条 */
.progress {
  width: 100%;
  height: .1rem;
  background-color: #e3e3e3;
}
.progress span.current {
  display: block;
  height: 100%;
  background-color: #ec9a71;
  float: left;
}
.progress b {
  display: block;
  padding: .2rem;
  font-weight: normal;
  font-size: .2rem;
  color: #b4b4b4;
}
.progress b em {
  font-size: .26rem;
  color: #e99c8f;
}

/* 第一页 */
.main {
  width: 6.5rem;
  border-radius: .2rem;
  padding-bottom: .3rem;
  background-color: #fff;
  margin: .66rem auto 0;
  box-shadow: 0 0.1rem 0.15rem rgba(204, 204, 204, 0.3);
}
.main h3 {
  color: #ec9a71;
  font-size: .4rem;
  padding: .3rem .2rem 0;
}

.type {
  padding: .1rem .1rem .3rem;
}
.type ul.class-one {
  display: flex;
  text-align: center;
  margin-top: .5rem;
}
.type ul.class-one li {
  position: relative;
  flex: 1;
  background-color: #edf3fd;
  border-radius: .1rem;
  transition: .6s;
  margin: 0 .2rem;
}
.type ul.class-one li img {
  margin-top: .2rem;
  height: 2.4rem;
}
.type ul.class-one li p {
  margin: .2rem;
}
.type ul.class-one li.active {
  box-shadow: 0 0 0.15rem rgba(125, 159, 216, 0.6);
}
.type ul.class-one li.active:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: .3rem;
  height: .3rem;
  background: url(../img/ic32.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.type dl {
  margin-top: .2rem;
  padding: .3rem .2rem;
}
.type dl dt {
  display: inline-block;
  font-size: .4rem;
  color: #ec9a71;
  vertical-align: middle;
}
.type dl dd {
  display: inline-block;
  vertical-align: middle;
}
.type dl dd label {
  margin-left: .2rem;
}
.type dl dd span {
  margin-right: .5rem;
  position: relative;
  display: inline-block;
}
.type dl dd span.active:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: .3rem;
  height: .3rem;
  background: url(../img/ic32.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.type dl dd img {
  height: 1rem;
}
.type dl dd p {
  display: inline-block;
  width: 3rem;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.type ul.class-three li {
  margin-top: .5rem;
}
.type ul.class-three h4 {
  float: left;
  width: 1.2rem;
  text-align: center;
  font-weight: bold;
  font-size: .4rem;
  margin-top: .1rem;
}
.type ul.class-three p {
  margin: .2rem 0;
  font-size: .2rem;
}
.type ul.class-three p i {
  display: inline-block;
  width: 1.2rem;
  text-align: center;
  color: #ec9a71;
}
.type > h4 {
  margin: .3rem .2rem;
  text-align: left;
}
.type textarea {
  width: 94%;
  border: 1px solid #ddd;
  margin: 0 .2rem;
  height: 6rem;
  padding: .2rem;
}
.type .class-over {
  text-align: center;
}
.type .class-over img {
  width: 5rem;
  height: 5rem;
}
.type .class-over p {
  font-size: .8rem;
  color: #009f95;
  font-weight: bold;
  font-style: italic;
  margin-top: .2rem;
}

.spend-item {
  display: inline-block;
}
.spend-item h5 {
  line-height: .7rem;
  margin-top: -.06rem;
}
.spend-item h5.active span i {
  left: .9rem;
  -webkit-transition: left 300ms;
  -moz-transition: left 300ms;
  -ms-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
}
.spend-item h5 em {
  float: left;
  font-weight: normal;
  color: #8f8f8f;
  margin: 0 .15rem;
  font-size: .28rem;
}
.spend-item h5 span {
  display: block;
  width: 1.52rem;
  height: .12rem;
  border: .02rem solid #4580f0;
  border-radius: .06rem;
  float: left;
  margin-top: .27rem;
  position: relative;
  background-color: #d2dff5;
}
.spend-item h5 span i {
  display: block;
  width: .48rem;
  height: .48rem;
  background: url(../img/ic25.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  left: .1rem;
  top: 50%;
  margin-top: -.24rem;
  -webkit-transition: left 300ms;
  -moz-transition: left 300ms;
  -ms-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
}

/* 下一页 */
.go {
  width: 100%;
  display: table;
  text-align: center;
}
.go a {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background: #eca483;
  border-radius: 50%;
  margin-top: .5rem;
  box-shadow: 0 0.15rem 0.15rem rgba(236, 166, 129, 0.4);
}
.go a img {
  height: .64rem;
  margin-top: .38rem;
}
.go a var {
  font-size: .4rem;
  color: #fff;
  line-height: 1.4rem;
  display: block;
}

.go-no a img {
  opacity: .5;
}

/*# sourceMappingURL=style.css.map */
