@charset "UTF-8";
$color-yellow: #ec9a71;
$color-blue: #1e83d3;
$btn-color: #71a5ef;
$color-success: green;
$color-error: red;
/*body {
  background-color: #fff;
}*/
/* 分割线 */
.dividing-line {
  width: 100%;
  height: .1rem;
  overflow: hidden;
  border-radius: .05rem;
  margin: .1rem auto 0;
  z-index: 111;
  span {
    float: left;
    height: .1rem;
    &:nth-of-type(1) {
      width: 30%;
      background-color: #4580f0;
      border-radius: .05rem 0 0 .05rem;
    }
    &:nth-of-type(2) {
      width: 34%;
      background-color: #ec9a71;
    }
    &:nth-of-type(3) {
      width: 20%;
      background-color: #dc71a1;
    }
    &:nth-of-type(4) {
      width: 16%;
      background-color: #74c8ec;
      border-radius: 0 .05rem .05rem 0rem;
    }
  }
}
.btn-list {
  margin-top: .3rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  a {
    display: inline-block;
    background-color: $btn-color;
    color: #fff;
    font-size: .32rem;
    padding: 0 .2rem;
    border-radius: .1rem;
    margin: 0 .1rem;
    min-width: 2rem;
  }
}
.home-list{
  background-color: #fff;
  ul{
    height: 1.1rem;
    white-space: nowrap;
    overflow-x: auto;
    padding: .1rem .2rem;
    width: 6.6rem;
    li{
      font-size: .36rem;
      line-height: .9rem;
      color: #b4b4b4;
      margin-right: .3rem;
      display: inline-block;
      text-align: center;
      &.active{
        color: $color-yellow;
        border-bottom: 3px solid $color-yellow;
      }
    }
  }
  a {
    float: right;
    width: .8rem;
    height: .8rem;
    text-align: center;
    font-size: .6rem;
    color: $color-blue;
    font-weight: bold;
    margin-top: -.9rem;
  }
}

.home-content {
  width: 7rem;
  margin: 0 auto;
  padding-bottom: .3rem;
}

.warranty-title {
  font-size: .34rem;
  font-weight: bold;
  color: $color-blue;
  margin: .4rem 0 .1rem;
  p {
    float: right;
    color: $color-yellow;
    font-size: .28rem;
    line-height: .52rem;
    font-weight: normal;
  }
}

/*.warranty-total {
  color: $color-yellow;
  font-size: .28rem;
  line-height: .4rem;
  padding: .1rem 0;
  p {
    float: left;
    &:last-of-type {
      float: right;
    }
  }
}*/

.warranty-list {
  &>li {
    margin-top: .3rem;
    background-color: #fff;
    padding-top: .3rem;
    border-radius: .1rem;
    box-shadow: 0 2px 10px #aaa;

    &.list-none {
      background-color: #fff;
      .list-none-title {
        text-align: center;
        height: 1rem;
        line-height: 1rem;
        img {
          width: .6rem;
          vertical-align: middle;
        }
        b {
          display: inline-block;
          color: #666;
          font-weight: bold;
          font-size: .28rem;
          margin-left: .2rem;
          vertical-align: middle;
        }
      }
      .list-none-word {
        text-align: center;
        height: 2rem;
        color: #999;
        font-weight: bold;
        font-size: .4rem;
        padding-top: .4rem;
      }
    }
    .lists {
      width: 7rem;
      height: 3.8rem;
      position: relative;
      background: #fff url(../img/im.png) center no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      ul {
        position: relative;
        width: 7rem;
        height: 3rem;
      }
      h4{
        width: 1rem;
        height: 1rem;
        background-color: #f3f8ff;
        text-align: center;
        display: table;
        border: .02rem solid #d2dff5;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 1.16rem;
        margin-left: -.5rem;
        z-index: 111;
        img{
          height: .6rem;
          margin-top: .2rem;
        }
      }
      li {
        position: absolute;
        width: 1.35rem;
        text-align: center;
        b {
          font-size: .24rem;
          color: $color-yellow;
          font-weight: normal;
          font-family: fontm;
        }
        &:nth-of-type(1){
          left: .48rem;
          top: 1.7rem;
        }
        &:nth-of-type(2){
          right: .48rem;
          top: .6rem;
        }
        &:nth-of-type(3){
          left: .48rem;
          top: .6rem;
        }
        &:nth-of-type(4){
          right: .48rem;
          top: 1.7rem;
        }
        &:nth-of-type(5){
          left: 1.85rem;
          top: .1rem;
        }
        &:nth-of-type(6){
          right: 1.85rem;
          top: .1rem;
        }
        &:nth-of-type(7){
          right: .48rem;
          top: 2.71rem;
        }
        h3{
          width: .5rem;
          height: .5rem;
          border-radius: 50%;
          border: .02rem solid #d2dff5;
          margin: 0 auto;
          background-color: #f3f8ff;
          padding: 0;
          line-height: 0;
          text-align: center;
          img{
            height: .29rem;
            margin-top: .1rem;
          }
        }
        p{
          text-align: center;
          color: #8f8f8f;
          font-size: .24rem;
          line-height: .4rem;
          width: 2rem;
          position: relative;
          left: -.35rem;
        }
      }
      h6{
        position: absolute;
        left: 50%;
        top: 2.5rem;
        transform: translateX(-50%);
        text-align: center;
        font-weight: normal;
        color: #8f8f8f;
        font-size: .24rem;
        border: .02rem solid #d4e0f5;
        box-shadow: 0 .06rem .2rem rgba(69,128,240,.1);
        background-color: #f3f8ff;
        border-radius: .06rem;
        padding: .1rem;
      }
    }

    &>p.list-total{
      padding: .2rem;
      font-size: .26rem;
      background-color: #fafafa;
      border-radius: 0 0 .1rem .12rem;
      span {
        display: inline-block;
        width: 49%;
        color: $color-blue;
        &:last-of-type {
          text-align: right;
        }
      }
    }
  }
}


.tab-title {
  height: .72rem;
  line-height: .72rem;
  display: flex;
  margin-top: .2rem;
  &>span {
    display: inline-block;
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: 0 .2rem;
    border-radius: .1rem;
    cursor: pointer;
    &.active {
      background-color: $color-yellow;
      color: #fff;
    }
  }
}

.tab-detail {
  display: none;
  &.show {
    display: block;
  }
}

.classify-list {
  width: 7rem;
  margin: .3rem auto;
  color: #999;
  box-shadow: 0 2px 8px #aaa;
  border-radius: .1rem;

  .classify-title {
    height: .8rem;
    font-size: .32rem;
    font-weight: bold;
    padding-left: .2rem;
    h3 {
      float: left;
      span {
        display: inline-block;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        border: .02rem solid #d2dff5;
        background-color: #f3f8ff;
        text-align: center;
        vertical-align: middle;
        padding-top: .1rem;
        img {
          height: .29rem;
          margin-top: -.2rem;
        }
      }
      i {
        line-height: .8rem;
      }
    }
    p {
      float: right;
      line-height: .8rem;
      padding-right: .2rem;
      color: $color-yellow;
    }
    a {
      float: right;
      width: .8rem;
      height: .8rem;
      &.title-edit {
        background: url("../img/edit.png") no-repeat center;
        background-size: .4rem;
      }
    }
  }
  &>ul {
    &>li {
      position: relative;
      overflow: hidden;
      border-top: 1px solid #ddd;
      .li-left{
        float: left;
        width: 30%;
        padding: .1rem;
        vertical-align: middle;
        img {
          width: 98%;
        }
      }
      .li-right {
        position: relative;
        float: left;
        width: 70%;
        padding: .2rem .2rem .1rem 0;
        vertical-align: middle;
        .li-edit {
          position: absolute;
          display: block;
          width: .72rem;
          height: .72rem;
          right: 0;
          top: 0;
          background: url("../img/edit.png") no-repeat center;
          background-size: .4rem;
        }
        // 新增1227 start
        &.li-no-edit {
          h4 {
            padding: 0;
          }
        }
        // 新增1227 end
      }
    }
  }
  h4 {
    font-size: .32rem;
    line-height: .36rem;
    margin-bottom: .1rem;
    padding-right: .4rem;
  }
  .recommend-list {
    margin-top: .2rem;
    font-size: .28rem;
    p {
      padding: .05rem 0 .2rem 0;
      line-height: .32rem;
      span {
        display: inline-block;
        width: 45%;
      }
      b {
        font-size: .46rem;
        color: $color-yellow;
        font-family: "numfont";
        margin-top: .1rem;
        vertical-align: baseline;
      }
      i {
        color: $color-yellow;
        vertical-align: baseline;
      }
    }
  }

  // 新增1227 start
  .duty-list {
    p {
      float: right;
      margin: .34rem .2rem 0 0;
      font-size: .28rem;
      font-weight: 600;
      padding: .04rem .1rem;
      span {
        color: $color-yellow;
      }
    }
  }
  // 新增1227 end

  // 新增0102 start
  a.fold {
    position: absolute;
    bottom: 0;
    right: 0;
    width: .6rem;
    height: .6rem;
    background: url("../img/fold-down.png") no-repeat center;
    background-size: .4rem;
    &.active {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
  // 新增0102 end
}
.guarantee-detail {
  .classify-list {
    ul{
      li:nth-child(n+2){
        display: none;
      }
    }
    &.auto-list{
      ul{
        li:nth-child(n+2){
          display: block;
        }
      }
    }
  }
}

// 新增1227 start
.not-include {
  margin-top: .4rem;
  padding: .2rem;
  background-color: $color-yellow;
  color: #fff;
}
// 新增1227 end

.classify-none {
  text-align: center;
  font-size: .32rem;
  color: #999;
  padding-top: .3rem;
  i {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: .3rem;
    background-color: $color-yellow;
    color: #fff;
    line-height: .6rem;
    margin-right: .2rem;
  }
}

.add-layer {
  position: fixed;
  right: 0;
  bottom: 2rem;
  width: 1.4rem;
  height: 1.4rem;
  padding: .3rem;
  text-align: center;
  line-height: .36rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: .32rem;
  background-color: rgba(0,0,0,.5);
  a {
    color: #fff;
  }
}


.new-wrapper {
  padding: 0 .2rem .5rem;
  h3.new-title {
    height: .8rem;
    line-height: .8rem;
    font-size: .36rem;
    color: $color-yellow;
    font-weight: bold;
    span {
      display: inline-block;
      width: 1.6rem;
      text-align: center;
      color: #333;
      &.active {
        color: $color-yellow;
        border-bottom: 2px solid $color-yellow;
      }
    }
  }
  input[type="text"], .mobile-select {
    display: inline-block;
    width: 3.8rem;
    height: .44rem;
    line-height: .4rem;
    background-color: transparent;
    border-bottom: 1px solid #bbb;
    vertical-align: middle;
    border-radius: 0;
  }
  .btn-item {
    margin-top: .2rem;
    button {
      width: 100%;
      height: .8rem;
      line-height: .8rem;
      font-size: .36rem;
      font-weight: normal;
      background-color: $btn-color;
      color: #fff;
      border-radius: .1rem;
      outline: none;
      margin: 0;
    }
    &.btn-item-two {
      button {
        width: 49.3%;
        &:nth-of-type(1) {
          background-color: #bbb;
        }
      }
    }
  }

  .img-choose {
    display: inline-block;
    width: 3rem;
    vertical-align: middle;
    span {
      position: relative;
      background-color: #f3f8ff;
      text-align: center;
      display: inline-block;
      border: .02rem solid #d2dff5;
      width: .8rem;
      height: .8rem;
      border-radius: .4rem;
      margin-right: .5rem;
      img {
        height: .5rem;
        margin-top: .15rem;
      }
      &.active:after {
        position: absolute;
        right: -.2rem;
        bottom: 0;
        content: "";
        width: .3rem;
        height: .3rem;
        background: url("../img/ic32.png") no-repeat center;
        background-size: .3rem .3rem;
      }
    }
  }
  .item-choose {
    display: inline-block;
    width: 3rem;
    vertical-align: middle;
    overflow: hidden;
    span {
      display: inline-block;
      width: 1rem;
      margin-right: .3rem;
      line-height: .6rem;
      input {
        vertical-align: middle;
        width: .28rem;
        height: .28rem;
        margin-top: -.06rem;
      }
    }
  }
  /* 家庭成员页面 */
  .person-list {
    padding: .2rem 0;
    line-height: .32rem;
    &>li {
      margin-top: .3rem;
      &>span {
        display: inline-block;
        width: .8rem;
        height: .8rem;
        border-radius: .4rem;
        background-color: #f3f8ff;
        text-align: center;
        border: .02rem solid #d2dff5;
        vertical-align: middle;
        img {
          height: .5rem;
          margin-top: .15rem;
        }
      }
      b {
        display: inline-block;
        width: 2.6rem;
        vertical-align: middle;
        margin-left: .3rem;
      }
      i {
        display: inline-block;
        width: 2rem;
        vertical-align: middle;
      }
      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .person-add {
    margin-top: .2rem;
    background-color: #f1f1f1;
    padding: .2rem .6rem;
    .item {
      padding: .2rem;
      label {
        display: inline-block;
        width: 1.5rem;
        text-align: right;
        vertical-align: middle;
        margin-right: .2rem;
      }

    }
  }

  .insurance-item {
    margin: .2rem 0;
    padding: .2rem 0;
    background-color: #f1f1f1;
    &:last-of-type {
      background-color: transparent;
    }
    label {
      display: inline-block;
      width: 1.8rem;
      text-align: right;
      vertical-align: middle;
    }
    .item {
      padding: .14rem 0 .14rem .2rem;
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .item-two {
      .mobile-select {
        width: 1.7rem;
        line-height: 1.3;
      }
      input[type="text"] {
        width: 2.02rem;
      }
    }
    a {
      color: #333;
    }
    .favoree {
      p {
        padding: .1rem 0;
      }
      input {
        width: 1.68rem;
        &:last-of-type {
          width: 1rem;
        }
      }
      a {
        display: inline-block;
        width: .6rem;
        text-align: center;
        font-size: .4rem;
        font-weight: bold;
      }
    }
  }


  /* 搜索产品页面 */
  .search {
    padding: .3rem 0;
    background-color: #f9f9f9;
    margin-top: .2rem;
    input {
      width: 5rem;
      height: .6rem;
      padding-left: .2rem;
      border: 1px solid #ddd;
    }
    a {
      display: inline-block;
      width: 2rem;
      height: .6rem;
      line-height: .6rem;
      background-color: $color-blue;
      text-align: center;
      color: #fff;
      border-radius: .1rem;
      font-weight: bold;
      vertical-align: middle;
    }
  }
  .result-none {
    padding: .5rem 0;
    text-align: center;
    font-weight: bold;
    color: #999;
    font-size: .3rem;
  }
  .result {

    li {
      position: relative;
      overflow: hidden;
      box-shadow: 0 1px 8px #ddd;
      margin-bottom: .3rem;
    }
    .image {
      display: inline-block;
      width: 2rem;
      padding: .3rem;
      vertical-align: middle;
      img {
        height: 1.4rem;
      }
    }
    .detail {
      width: 5rem;
      display: inline-block;
      padding: .3rem 0;
      vertical-align: middle;
      h4 {
        font-weight: bold;
        margin-bottom: .2rem;
      }
      p {
        line-height: .3rem;
        font-size: .28rem;
      }
    }
    .tag {
      position: absolute;
      top: .18rem;
      left: -.4rem;
      display: block;
      width: 1.6rem;
      line-height: .4rem;
      padding: 0 .06rem;
      border-radius: .1rem;
      text-align: center;
      background-color: $color-yellow;
      color: #fff;
      font-size: .24rem;
      transform: rotate(-45deg);
    }
  }
  .new-add {
    margin: .2rem 0;
    padding: .2rem;
    background-color: #f1f1f1;
    .item {
      margin-bottom: .2rem;
      padding: .1rem;
    }
    label {
      display: inline-block;
      width: 2rem;
      text-align: right;
    }
    .item-three {
      span {
        width: 1.46rem;
      }
    }
  }
}

.auto-wrapper {
  padding: 0 0 .3rem;
  .insurance-item {
    margin: .2rem;
  }
  .btn-item {
    padding: 0 .2rem;
  }
}
.auto-wrapper h3, .product-list h3 {
  height: .72rem;
  line-height: .72rem;
  background-color: $color-yellow;
  color: #fff;
  padding-left: .2rem;
  .fold-item {
    float: right;
    width: .72rem;
    height: .72rem;
    background: #f1f1f1 url("../img/fold-down.png") no-repeat center;
    background-size: .4rem;
    &.active {
      transform: rotate(180deg);
    }
  }
}

.product-list {
  padding-bottom: .3rem;
  ul {
    margin-top: .2rem;
    li {
      padding: .1rem .3rem;
      box-shadow: 0 4px 8px #ddd;
      margin-bottom: .2rem;
      h4 {
        height: .72rem;
        line-height: .72rem;
        font-size: .32rem;
        font-weight: bold;
        b {
          font-weight: normal;
          color: $color-blue;
          float: right;
        }
      }
      dl {
        overflow: hidden;
        font-size: .28rem;
        dt {
          float: left;
          width: 50%;
        }
        dd {
          float: right;
          width: 50%;
          padding-right: 6%;
          text-align: right;
          p {
            &.valid {
              color: $color-success;
            }
            &.no-valid {
              color: $color-error;
            }
            a {
              color: $color-yellow;
            }
          }
        }
      }
    }

  }
}
