$color-yellow: #ec9a71;
$color-blue: #1e83d3;
body {
  background-color: #fff;
}
.warranty-wrapper {
  //padding: 0 .2rem .3rem;
}
.home-list{
  background-color: #fff;
  ul{
    height: 1.1rem;
    margin: 0 auto .1rem;
    white-space: nowrap;
    overflow-x: auto;
    padding: .1rem .2rem;
    li{
      font-size: .36rem;
      line-height: .9rem;
      color: #b4b4b4;
      margin-right: .3rem;
      display: inline-block;
      text-align: center;
      &.active{
        color: $color-yellow;
        border-bottom: 3px solid $color-yellow;
      }
    }
  }
}

.home-content {
  width: 7rem;
  margin: 0 auto;
  padding-bottom: .3rem;
}

.warranty-title {
  font-size: .34rem;
  font-weight: bold;
  line-height: .72rem;
  color: $color-blue;
  //background-color: #fff;
}

.warranty-total {
  color: $color-yellow;
  line-height: .6rem;
  font-size: .28rem;
  p {
    float: left;
    &:last-of-type {
      float: right;
    }
  }
}

.warranty-list {
  &>li {
    margin-top: .2rem;
    background-color: #fff;
    padding-top: .1rem;
    box-shadow: 0 2px 8px #ddd;
    &.list-one{
      ul {
        background: #fff url(../img/list1.png) center no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
    }
    &.list-two{
      ul {
        background: #fff url(../img/list2.png) center no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
    }
    &.list-three{
      ul {
        background: #fff url(../img/list3.png) center no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
    }
    &.list-four{
      ul {
        background: #fff url(../img/list4.png) center no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
      }
    }
    &.list-none {
      background-color: #fff;
      .list-none-title {
        text-align: center;
        height: 1rem;
        line-height: 1rem;
        img {
          width: .6rem;
          vertical-align: middle;
        }
        b {
          display: inline-block;
          color: #666;
          font-weight: bold;
          font-size: .28rem;
          margin-left: .2rem;
          vertical-align: middle;
        }
      }
      .list-none-word {
        text-align: center;
        height: 2rem;
        color: #999;
        font-weight: bold;
        font-size: .4rem;
        padding-top: .4rem;
      }
    }
    div {
      width: 7rem;
      height: 3.3rem;
      position: relative;
      ul {
        position: relative;
        width: 7rem;
        height: 2.82rem;
      }
      h4{
        width: 1rem;
        height: 1rem;
        background-color: #f3f8ff;
        text-align: center;
        display: table;
        border: .02rem solid #d2dff5;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 1.16rem;
        margin-left: -.5rem;
        z-index: 111;
        img{
          height: .6rem;
          margin-top: .2rem;
        }
      }
      li {
        position: absolute;
        width: 1.35rem;
        text-align: center;
        b {
          font-size: .24rem;
          color: $color-yellow;
          font-weight: normal;
          font-family: fontm;
        }
        &.li-item1{
          left: .48rem;
          top: 1.26rem;
        }
        &.li-item2{
          right: .48rem;
          top: .22rem;
        }
        &.li-item3{
          left: .48rem;
          top: .24rem;
        }
        &.li-item4{
          right: .48rem;
          top: 1.26rem;
        }
        h3{
          width: .5rem;
          height: .5rem;
          border-radius: 50%;
          border: .02rem solid #d2dff5;
          margin: 0 auto;
          background-color: #f3f8ff;
          padding: 0;
          line-height: 0;
          text-align: center;
          img{
            height: .29rem;
            margin-top: .1rem;
          }
        }
        p{
          text-align: center;
          color: #8f8f8f;
          font-size: .24rem;
          line-height: .4rem;
          width: 2rem;
          position: relative;
          left: -.35rem;
        }
      }
      h6{
        position: absolute;
        left: 50%;
        top: 2.5rem;
        transform: translateX(-50%);
        text-align: center;
        font-weight: normal;
        color: #8f8f8f;
        font-size: .24rem;
        border: .02rem solid #d4e0f5;
        box-shadow: 0 .06rem .2rem rgba(69,128,240,.1);
        background-color: #f3f8ff;
        border-radius: .06rem;
        padding: .1rem;
      }
    }

    &>p.list-total{
      padding: .2rem;
      font-size: .26rem;
      background-color: #fafafa;
      span {
        display: inline-block;
        width: 49%;
        color: $color-blue;
        &:last-of-type {
          text-align: right;
        }
      }
    }
  }
}


.classify-list {
  padding: .2rem;
  color: #999;
  .classify-title {
    line-height: .4rem;
    font-size: .28rem;
    h3 {
      float: left;
      span {
        display: inline-block;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        border: .02rem solid #d2dff5;
        background-color: #f3f8ff;
        text-align: center;
        vertical-align: middle;
        img {
          height: .29rem;
          margin-top: .1rem;
        }
      }
    }
    p {
      float: right;
      color: $color-yellow;
    }
  }
  &>ul {
    margin-top: .2rem;
    &>li {
      box-shadow: 0 2px 8px #ddd;
      margin-bottom: .3rem;
      overflow: hidden;
      .li-left{
        float: left;
        width: 30%;
        padding: .1rem;
        img {
          width: 100%;
        }
      }
      .li-right {
        float: left;
        width: 70%;
        padding: .2rem;
      }
    }
  }
  h4 {
    font-size: .26rem;
    margin-bottom: .1rem;
  }
  ul.recommend-list {
    li {
      float: left;
      width: 50%;
      padding-top: .2rem;
      height: .5rem;
      span {
        color: $color-yellow;
        b {
          font-size: .46rem;
        }
      }
      &:nth-of-type(even) {
        margin-top: .17rem;
        padding-left: .2rem;
      }
    }

  }
  .classify-total {
    overflow: hidden;
    p {
      width: 70%;
      float: right;
      font-size: .2rem;
      line-height: .32rem;
      span {
        color: $color-yellow;
      }
    }
  }
}

.classify-none {
  text-align: center;
  font-size: .32rem;
  color: #999;
  padding-top: .3rem;
  i {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: .3rem;
    background-color: $color-yellow;
    color: #fff;
    line-height: .6rem;
    margin-right: .2rem;
  }
}
