.header {
  position: relative;
  height: 1rem;
  line-height: 1rem;
  border-bottom: .02rem solid #ddd;
  font-size: .4rem;
  font-weight: bold;
  text-align: center;
}
.header i {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: url("../img/icon-back.png") no-repeat center;
  background-size: .5rem;
}

.switch-btn {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: .6rem;
  border: 1px solid #ddd;
  border-radius: .8rem;
  vertical-align: middle;
}
.switch-btn i {
  position: absolute;
  top: .02rem;
  left: .03rem;
  display: block;
  width: .52rem;
  height: .52rem;
  border-radius: .26rem;
  background-color: #ec9a71;
  transition: .3s;
}
.switch-btn.active i {
  left: .4rem;
}

.member {
  padding: .2rem;
}
.member h4 {
  color: #ec9a71;
}
.member ul {
  margin: .2rem 0 .4rem;
  overflow: hidden;
}
.member li {
  float: left;
  margin: 0 .4rem .2rem 0;
}
.member li input {
  -webkit-appearance: checkbox;
}

.claim-detail {
  margin-top: .2rem;
  padding-left: .3rem;
  /*.select-list {
    padding: .2rem;
    box-shadow: 0 0 8px #ddd;
    input {
      width: 5rem;
      height: .6rem;
      border-bottom: .02rem solid #ddd;
    }
    .search {
      display: inline-block;
      width: .6rem;
      height: .6rem;
      background: url("../img/icon-search.png") no-repeat center;
      background-size: .4rem;
      vertical-align: middle;
    }
  }*/
}
.claim-detail h3 {
  display: inline-block;
  width: 5.3rem;
  padding: .2rem;
  vertical-align: middle;
}
.claim-detail .select-list p {
  display: none;
  margin: .1rem 0 0 .2rem;
}
.claim-detail .select-list input {
  width: 5rem;
  height: .6rem;
  border-bottom: .02rem solid #ddd;
}

h3.title {
  line-height: .72rem;
  background-color: #ec9a71;
  color: #fff;
  padding: 0 .2rem;
}

.presentation ul {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  line-height: .44rem;
  padding: .2rem .2rem .2rem .8rem;
}
.presentation ul li {
  list-style: square;
}
.presentation .description {
  padding: .2rem;
  font-size: .3rem;
}
.presentation .description p {
  text-indent: .3rem;
}

.product {
  padding-bottom: .4rem;
}

.product-list dl {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.product-list dl dt {
  display: inline-block;
  width: 26%;
  vertical-align: middle;
  text-align: center;
}
.product-list dl dt img {
  width: 70%;
}
.product-list dl dd {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  font-weight: bold;
  padding: .2rem 0;
}

.search {
  padding: .8rem;
}
.search input {
  width: 5rem;
  height: .6rem;
  padding-left: .1rem;
  border-bottom: .02rem solid #ddd;
}
.search .search-btn {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  background: url("../img/icon-search.png") no-repeat center;
  background-size: .4rem;
  vertical-align: middle;
}
.search .select-item {
  width: 5rem;
  line-height: .6rem;
  margin-top: .5rem;
  padding-left: .1rem;
  border-bottom: .02rem solid #ddd;
}
.search .search-result {
  position: relative;
}
.search .search-result ul {
  position: absolute;
  left: 0;
  top: .6rem;
  width: 100%;
  max-height: 8.5rem;
  overflow-y: auto;
  box-shadow: 0 4px 8px #ec9a71;
  background-color: #fff;
  display: none;
}
.search .search-result ul li {
  height: .88rem;
  line-height: .88rem;
  padding-left: .1rem;
  border-bottom: 1px solid #ddd;
}
.search .search-result ul li:nth-of-type(even) {
  background-color: #f6f6f6;
}

.next {
  width: 1.4rem;
  height: 1.4rem;
  margin: .3rem auto;
  text-align: center;
  background-color: #eca483;
  border-radius: 50%;
  box-shadow: 0 0.15rem 0.15rem rgba(236, 166, 129, 0.4);
}
.next a {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url("../img/ic10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: .4rem;
}
.next span {
  color: #fff;
  line-height: 1.4rem;
  font-size: .4rem;
}
