* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #666;
  background-color: #f1f2f7;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #2679b5;
}

input[type="text"],
select,
textarea {
  height: 30px;
  border: 1px solid #ddd;
  padding-left: 3px;
}

textarea {
  resize: none;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
}
.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-add {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-add:hover {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-blue {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-blue:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-lg {
  padding: 8px 18px;
}

.header {
  height: 50px;
  background-color: #fff;
  padding: 0 10px;
}
.header .logo {
  float: left;
}
.header .logo img {
  height: 45px;
  margin-top: 2px;
}
.header .tool {
  float: right;
}
.header .tool .tool-item > li {
  position: relative;
  float: left;
}
.header .tool .tool-item > li .drop-title {
  display: block;
  line-height: 20px;
  padding: 15px 20px;
}
.header .tool .tool-item > li .drop-title span {
  font-size: 12px;
}
.header .tool .tool-item > li .drop-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 160px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px #ddd;
  display: none;
}
.header .tool .tool-item > li .drop-menu li {
  line-height: 40px;
  padding-left: 14px;
}
.header .tool .tool-item > li.open .drop-title {
  background-color: #eee;
}

.side {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 215px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.side .side-list a {
  display: block;
  font-size: 16px;
  line-height: 40px;
  padding-left: 15px;
  border-bottom: 1px solid #eee;
}
.side .side-list a span {
  float: right;
  font-size: 12px;
  margin: 14px;
}
.side .side-list ul {
  display: none;
}
.side .side-list ul a {
  padding-left: 30px;
  font-size: 14px;
}
.side .side-list ul li.active a {
  color: #2679b5;
}
.side .side-list.open > a {
  background-color: #2679b5;
  color: #fff;
}

.content {
  margin: 15px 15px 0 245px;
  padding: 0;
  border: 1px solid #ddd;
  background-color: #fff;
}

.breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}
.breadcrumb span {
  font-size: 14px;
}
.breadcrumb > li {
  float: left;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #aaa;
  content: ">";
}

.common-header {
  padding: 5px 10px;
  overflow: hidden;
}
.common-header .common-title {
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
}
.common-header .common-title span,
.common-header .common-title b {
  vertical-align: middle;
}
.common-header .common-tool {
  float: right;
}

.search-box {
  background-color: #f3f3f3;
  padding: 15px 25px 5px;
  margin-bottom: 10px;
}
.search-box .search-row {
  overflow: hidden;
  margin-bottom: 10px;
}
.search-box .search-item {
  float: left;
  width: 25%;
}
.search-box input, .search-box select {
  width: 70%;
}

.search-result {
  width: 100%;
  border-collapse: collapse;
}
.search-result th,
.search-result td {
  border: 1px solid #ddd;
  padding: 8px;
}
.search-result tr:hover {
  background-color: #f5f5f5;
}
.search-result > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.search-result a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
}
.search-result a.edit {
  background: url("../img/edit.png") no-repeat center;
  background-size: 16px;
}
.search-result a.delete {
  background: url("../img/delete.png") no-repeat center;
  background-size: 16px;
}

.pagination {
  padding: 20px 10px;
  line-height: 30px;
}
.pagination ul {
  float: right;
}
.pagination ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  background: #dedede;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 3px;
  padding: 0 10px;
}
.pagination ul li:hover {
  color: #2679b5;
}
.pagination ul li.active {
  background-color: #2679b5;
  color: #fff;
}

.form-body {
  padding: 30px 10px 10px;
  background-color: #f3f3f3;
}
.form-body .form-group {
  padding: 10px;
  line-height: 32px;
}
.form-body label {
  display: inline-block;
  width: 100px;
  text-align: right;
  vertical-align: middle;
}
.form-body label span {
  color: red;
  margin-right: 2px;
  font-weight: bold;
}
.form-body input, .form-body textarea, .form-body select {
  width: 35%;
  vertical-align: middle;
}
.form-body textarea {
  width: 80%;
  height: 120px;
  padding: 3px;
}
.form-body input[type="checkbox"],
.form-body input[type="radio"] {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-left: 16px;
}
.form-body input[type="checkbox"]:nth-of-type(1),
.form-body input[type="radio"]:nth-of-type(1) {
  margin-left: 0;
}
.form-body button {
  margin-right: 20px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal .modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 600px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
.modal .modal-header {
  padding: 20px 10px;
  line-height: 20px;
  font-size: 16px;
}
.modal .modal-header h4 {
  font-weight: bold;
}
.modal .modal-header span {
  float: right;
  margin-top: -20px;
  cursor: pointer;
}
.modal .modal-body {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.modal .modal-footer {
  padding: 15px 20px;
  text-align: right;
}
.modal .modal-footer button {
  margin-left: 10px;
}
