@charset "UTF-8";
/*body {
  background-color: #fff;
}*/
/* 分割线 */
.dividing-line {
  width: 100%;
  height: .1rem;
  overflow: hidden;
  border-radius: .05rem;
  margin: .2rem auto 0;
  z-index: 111;
}
.dividing-line span {
  float: left;
  height: .1rem;
}
.dividing-line span:nth-of-type(1) {
  width: 30%;
  background-color: #4580f0;
  border-radius: .05rem 0 0 .05rem;
}
.dividing-line span:nth-of-type(2) {
  width: 34%;
  background-color: #ec9a71;
}
.dividing-line span:nth-of-type(3) {
  width: 20%;
  background-color: #dc71a1;
}
.dividing-line span:nth-of-type(4) {
  width: 16%;
  background-color: #74c8ec;
  border-radius: 0 .05rem .05rem 0rem;
}

.btn-list {
  margin-top: .3rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
}
.btn-list a {
  display: inline-block;
  background-color: #71a5ef;
  color: #fff;
  font-size: .32rem;
  padding: 0 .2rem;
  border-radius: .1rem;
  margin: 0 .1rem;
  min-width: 2rem;
}

.home-list {
  background-color: #fff;
}
.home-list ul {
  height: 1.1rem;
  white-space: nowrap;
  overflow-x: auto;
  padding: .1rem .2rem;
  width: 6.6rem;
}
.home-list ul li {
  font-size: .36rem;
  line-height: .9rem;
  color: #b4b4b4;
  margin-right: .3rem;
  display: inline-block;
  text-align: center;
}
.home-list ul li.active {
  color: #ec9a71;
  border-bottom: 3px solid #ec9a71;
}
.home-list a {
  float: right;
  width: .8rem;
  height: .8rem;
  text-align: center;
  font-size: .6rem;
  color: #1e83d3;
  font-weight: bold;
  margin-top: -.9rem;
}

.home-content {
  width: 7rem;
  margin: 0 auto;
  padding-bottom: .3rem;
}

.warranty-title {
  font-size: .34rem;
  font-weight: bold;
  color: #1e83d3;
  margin: .4rem 0 .1rem;
}
.warranty-title p {
  float: right;
  color: #ec9a71;
  font-size: .28rem;
  line-height: .52rem;
  font-weight: normal;
}

/*.warranty-total {
  color: $color-yellow;
  font-size: .28rem;
  line-height: .4rem;
  padding: .1rem 0;
  p {
    float: left;
    &:last-of-type {
      float: right;
    }
  }
}*/
.warranty-list > li {
  margin-top: .3rem;
  background-color: #fff;
  padding-top: .3rem;
  border-radius: .1rem;
  box-shadow: 0 2px 10px #aaa;
}
.warranty-list > li.list-none {
  background-color: #fff;
}
.warranty-list > li.list-none .list-none-title {
  text-align: center;
  height: 1rem;
  line-height: 1rem;
}
.warranty-list > li.list-none .list-none-title img {
  width: .6rem;
  vertical-align: middle;
}
.warranty-list > li.list-none .list-none-title b {
  display: inline-block;
  color: #666;
  font-weight: bold;
  font-size: .28rem;
  margin-left: .2rem;
  vertical-align: middle;
}
.warranty-list > li.list-none .list-none-word {
  text-align: center;
  height: 2rem;
  color: #999;
  font-weight: bold;
  font-size: .4rem;
  padding-top: .4rem;
}
.warranty-list > li .lists {
  width: 7rem;
  height: 3.8rem;
  position: relative;
  background: #fff url(../img/im.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.warranty-list > li .lists ul {
  position: relative;
  width: 7rem;
  height: 3rem;
}
.warranty-list > li .lists h4 {
  width: 1rem;
  height: 1rem;
  background-color: #f3f8ff;
  text-align: center;
  display: table;
  border: .02rem solid #d2dff5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 1.16rem;
  margin-left: -.5rem;
  z-index: 111;
}
.warranty-list > li .lists h4 img {
  height: .6rem;
  margin-top: .2rem;
}
.warranty-list > li .lists li {
  position: absolute;
  width: 1.35rem;
  text-align: center;
}
.warranty-list > li .lists li b {
  font-size: .24rem;
  color: #ec9a71;
  font-weight: normal;
  font-family: fontm;
}
.warranty-list > li .lists li:nth-of-type(1) {
  left: .48rem;
  top: 1.7rem;
}
.warranty-list > li .lists li:nth-of-type(2) {
  right: .48rem;
  top: .6rem;
}
.warranty-list > li .lists li:nth-of-type(3) {
  left: .48rem;
  top: .6rem;
}
.warranty-list > li .lists li:nth-of-type(4) {
  right: .48rem;
  top: 1.7rem;
}
.warranty-list > li .lists li:nth-of-type(5) {
  left: 1.85rem;
  top: .1rem;
}
.warranty-list > li .lists li:nth-of-type(6) {
  right: 1.85rem;
  top: .1rem;
}
.warranty-list > li .lists li:nth-of-type(7) {
  right: .48rem;
  top: 2.71rem;
}
.warranty-list > li .lists li h3 {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  border: .02rem solid #d2dff5;
  margin: 0 auto;
  background-color: #f3f8ff;
  padding: 0;
  line-height: 0;
  text-align: center;
}
.warranty-list > li .lists li h3 img {
  height: .29rem;
  margin-top: .1rem;
}
.warranty-list > li .lists li p {
  text-align: center;
  color: #8f8f8f;
  font-size: .24rem;
  line-height: .4rem;
  width: 2rem;
  position: relative;
  left: -.35rem;
}
.warranty-list > li .lists h6 {
  position: absolute;
  left: 50%;
  top: 2.5rem;
  transform: translateX(-50%);
  text-align: center;
  font-weight: normal;
  color: #8f8f8f;
  font-size: .24rem;
  border: .02rem solid #d4e0f5;
  box-shadow: 0 0.06rem 0.2rem rgba(69, 128, 240, 0.1);
  background-color: #f3f8ff;
  border-radius: .06rem;
  padding: .1rem;
}
.warranty-list > li > p.list-total {
  padding: .2rem;
  font-size: .26rem;
  background-color: #fafafa;
  border-radius: 0 0 .1rem .12rem;
}
.warranty-list > li > p.list-total span {
  display: inline-block;
  width: 49%;
  color: #1e83d3;
}
.warranty-list > li > p.list-total span:last-of-type {
  text-align: right;
}

.tab-title {
  height: .72rem;
  line-height: .72rem;
  display: flex;
  margin: .2rem;
}
.tab-title > span {
  display: inline-block;
  flex: 1;
  background-color: #eee;
  text-align: center;
  cursor: pointer;
}
.tab-title > span:nth-of-type(1) {
  border-radius: .2rem 0 0 .2rem;
}
.tab-title > span:nth-of-type(2) {
  border-radius: 0 .2rem .2rem 0;
}
.tab-title > span.active {
  background-color: #ec9a71;
  color: #fff;
}

.tab-detail {
  display: none;
}
.tab-detail.show {
  display: block;
}

.classify-total {
  margin-top: .2rem;
  text-align: center;
  font-size: .28rem;
}
.classify-total span {
  padding: .1rem .6rem;
  background-color: #ec9a71;
  color: #fff;
  border-radius: .5rem;
  line-height: .6rem;
}

.classify-list {
  width: 7rem;
  margin: .3rem auto;
  color: #999;
  box-shadow: 0 2px 8px #aaa;
  border-radius: .1rem;
}
.classify-list .classify-title {
  height: .8rem;
  font-size: .32rem;
  font-weight: bold;
  padding-left: .2rem;
}
.classify-list .classify-title h3 {
  float: left;
}
.classify-list .classify-title h3 span {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  border: .02rem solid #d2dff5;
  background-color: #f3f8ff;
  text-align: center;
  vertical-align: middle;
  padding-top: .1rem;
}
.classify-list .classify-title h3 span img {
  height: .29rem;
  margin-top: -.2rem;
}
.classify-list .classify-title h3 i {
  line-height: .8rem;
}
.classify-list .classify-title p {
  float: right;
  line-height: .8rem;
  padding-right: .2rem;
  color: #ec9a71;
}
.classify-list .classify-title a {
  float: right;
  width: .8rem;
  height: .8rem;
}
.classify-list .classify-title a.title-edit {
  background: url("../img/edit.png") no-repeat center;
  background-size: .4rem;
}
.classify-list > ul > li {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.classify-list > ul > li.list-novaild {
  background: url("../img/img-novaild3.png") no-repeat right 0.7rem;
  background-size: 1.2rem;
}
.classify-list > ul > li .li-left {
  float: left;
  width: 30%;
  padding: .1rem;
  vertical-align: middle;
}
.classify-list > ul > li .li-left img {
  width: 98%;
}
.classify-list > ul > li .li-right {
  position: relative;
  float: left;
  width: 70%;
  padding: .2rem .2rem .1rem 0;
  vertical-align: middle;
}
.classify-list > ul > li .li-right .li-edit {
  position: absolute;
  display: block;
  width: .72rem;
  height: .72rem;
  right: 0;
  top: 0;
  background: url("../img/edit.png") no-repeat center;
  background-size: .4rem;
}
.classify-list > ul > li .li-right.li-no-edit h4 {
  padding: 0;
}
.classify-list h4 {
  font-size: .32rem;
  line-height: .36rem;
  margin-bottom: .1rem;
  padding-right: .4rem;
}
.classify-list .recommend-list {
  margin-top: .2rem;
  font-size: .28rem;
}
.classify-list .recommend-list p {
  padding: .05rem 0 .2rem 0;
  line-height: .32rem;
}
.classify-list .recommend-list p span {
  display: inline-block;
  width: 45%;
}
.classify-list .recommend-list p span:last-of-type {
  width: 53%;
}
.classify-list .recommend-list p b {
  font-size: .46rem;
  color: #ec9a71;
  font-family: "numfont";
  margin-top: .1rem;
  vertical-align: baseline;
}
.classify-list .recommend-list p i {
  color: #ec9a71;
  vertical-align: baseline;
}
.classify-list .recommend-list p a {
  margin-left: 3%;
  padding: .02rem;
  background-color: #1e83d3;
  color: #fff;
  border-radius: .05rem;
}
.classify-list .duty-list p {
  float: right;
  margin: .34rem .2rem 0 0;
  font-size: .28rem;
  font-weight: 600;
  padding: .04rem .1rem;
}
.classify-list .duty-list p span {
  color: #ec9a71;
}
.classify-list a.fold {
  position: absolute;
  bottom: 0;
  right: 0;
  width: .6rem;
  height: .6rem;
  background: url("../img/fold-down.png") no-repeat center;
  background-size: .4rem;
}
.classify-list a.fold.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.guarantee-detail .classify-list ul li:nth-child(n+2) {
  display: none;
}
.guarantee-detail .classify-list.auto-list ul li:nth-child(n+2) {
  display: block;
}

.not-include {
  margin-top: .4rem;
  padding: .2rem;
  background-color: #ec9a71;
  color: #fff;
}

.classify-none {
  text-align: center;
  font-size: .32rem;
  color: #999;
  padding-top: .3rem;
}
.classify-none i {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  border-radius: .3rem;
  background-color: #ec9a71;
  color: #fff;
  line-height: .6rem;
  margin-right: .2rem;
}

.add-layer {
  position: fixed;
  right: 0;
  bottom: 2rem;
  width: 1.4rem;
  height: 1.4rem;
  padding: .3rem;
  text-align: center;
  line-height: .36rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: .32rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.add-layer a {
  color: #fff;
}

.new-wrapper {
  padding: 0 .2rem .5rem;
  /* 家庭成员页面 */
  /* 搜索产品页面 */
}
.new-wrapper h3.new-title {
  height: .8rem;
  line-height: .8rem;
  font-size: .36rem;
  color: #ec9a71;
  font-weight: bold;
}
.new-wrapper h3.new-title span {
  display: inline-block;
  width: 1.6rem;
  text-align: center;
  color: #333;
}
.new-wrapper h3.new-title span.active {
  color: #ec9a71;
  border-bottom: 2px solid #ec9a71;
}
.new-wrapper input[type="text"], .new-wrapper .mobile-select {
  display: inline-block;
  width: 3.8rem;
  height: .44rem;
  line-height: .4rem;
  background-color: transparent;
  border-bottom: 1px solid #bbb;
  vertical-align: middle;
  border-radius: 0;
}
.new-wrapper .mobile-select {
  color: #aaa;
}
.new-wrapper .btn-item {
  margin-top: .2rem;
}
.new-wrapper .btn-item button {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  font-size: .36rem;
  font-weight: normal;
  background-color: #71a5ef;
  color: #fff;
  border-radius: .1rem;
  outline: none;
  margin: 0;
}
.new-wrapper .btn-item.btn-item-two button {
  width: 49.3%;
}
.new-wrapper .btn-item.btn-item-two button:nth-of-type(1) {
  background-color: #bbb;
}
.new-wrapper .img-choose {
  display: inline-block;
  width: 3rem;
  vertical-align: middle;
}
.new-wrapper .img-choose span {
  position: relative;
  background-color: #f3f8ff;
  text-align: center;
  display: inline-block;
  border: .02rem solid #d2dff5;
  width: .8rem;
  height: .8rem;
  border-radius: .4rem;
  margin-right: .5rem;
}
.new-wrapper .img-choose span img {
  height: .5rem;
  margin-top: .15rem;
}
.new-wrapper .img-choose span.active:after {
  position: absolute;
  right: -.2rem;
  bottom: 0;
  content: "";
  width: .3rem;
  height: .3rem;
  background: url("../img/ic32.png") no-repeat center;
  background-size: .3rem .3rem;
}
.new-wrapper .item-choose {
  display: inline-block;
  width: 3rem;
  vertical-align: middle;
  overflow: hidden;
}
.new-wrapper .item-choose span {
  display: inline-block;
  width: 1rem;
  margin-right: .3rem;
  line-height: .6rem;
}
.new-wrapper .item-choose span input {
  vertical-align: middle;
  width: .28rem;
  height: .28rem;
  margin-top: -.06rem;
}
.new-wrapper .person-list {
  padding: .2rem 0;
  line-height: .32rem;
}
.new-wrapper .person-list > li {
  margin-top: .3rem;
}
.new-wrapper .person-list > li > span {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border-radius: .4rem;
  background-color: #f3f8ff;
  text-align: center;
  border: .02rem solid #d2dff5;
  vertical-align: middle;
}
.new-wrapper .person-list > li > span img {
  height: .5rem;
  margin-top: .15rem;
}
.new-wrapper .person-list > li b {
  display: inline-block;
  width: 2.6rem;
  vertical-align: middle;
  margin-left: .3rem;
}
.new-wrapper .person-list > li i {
  display: inline-block;
  width: 2rem;
  vertical-align: middle;
}
.new-wrapper .person-list > li a {
  display: inline-block;
  vertical-align: middle;
}
.new-wrapper .person-add {
  margin-top: .2rem;
  background-color: #f1f1f1;
  padding: .2rem .6rem;
}
.new-wrapper .person-add .item {
  padding: .2rem;
}
.new-wrapper .person-add .item label {
  display: inline-block;
  width: 1.5rem;
  text-align: right;
  vertical-align: middle;
  margin-right: .2rem;
}
.new-wrapper .insurance-item {
  margin: .2rem 0;
  padding: .2rem 0;
  background-color: #f1f1f1;
}
.new-wrapper .insurance-item:last-of-type {
  background-color: transparent;
}
.new-wrapper .insurance-item label {
  display: inline-block;
  width: 1.8rem;
  text-align: right;
  vertical-align: middle;
}
.new-wrapper .insurance-item .item {
  padding: .14rem 0 .14rem .2rem;
}
.new-wrapper .insurance-item .item span {
  display: inline-block;
  vertical-align: middle;
}
.new-wrapper .insurance-item .item-two .mobile-select {
  width: 1.7rem;
  line-height: 1.3;
}
.new-wrapper .insurance-item .item-two input[type="text"] {
  width: 2.02rem;
}
.new-wrapper .insurance-item a {
  color: #333;
}
.new-wrapper .insurance-item .favoree p {
  padding: .1rem 0;
}
.new-wrapper .insurance-item .favoree input {
  width: 1.68rem;
}
.new-wrapper .insurance-item .favoree input:last-of-type {
  width: 1rem;
}
.new-wrapper .insurance-item .favoree a {
  display: inline-block;
  width: .6rem;
  text-align: center;
  font-size: .4rem;
  font-weight: bold;
}
.new-wrapper .search {
  padding: .3rem 0;
  background-color: #f9f9f9;
  margin-top: .2rem;
}
.new-wrapper .search input {
  width: 5rem;
  height: .6rem;
  padding-left: .2rem;
  border: 1px solid #ddd;
}
.new-wrapper .search a {
  display: inline-block;
  width: 2rem;
  height: .6rem;
  line-height: .6rem;
  background-color: #1e83d3;
  text-align: center;
  color: #fff;
  border-radius: .1rem;
  font-weight: bold;
  vertical-align: middle;
}
.new-wrapper .result-none {
  padding: .5rem 0;
  text-align: center;
  font-weight: bold;
  color: #999;
  font-size: .3rem;
}
.new-wrapper .result li {
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 8px #ddd;
  margin-bottom: .3rem;
}
.new-wrapper .result .image {
  display: inline-block;
  width: 2rem;
  padding: .3rem;
  vertical-align: middle;
}
.new-wrapper .result .image img {
  height: 1.4rem;
}
.new-wrapper .result .detail {
  width: 5rem;
  display: inline-block;
  padding: .3rem 0;
  vertical-align: middle;
}
.new-wrapper .result .detail h4 {
  font-weight: bold;
  margin-bottom: .2rem;
}
.new-wrapper .result .detail p {
  line-height: .3rem;
  font-size: .28rem;
}
.new-wrapper .result .tag {
  position: absolute;
  top: .18rem;
  left: -.4rem;
  display: block;
  width: 1.6rem;
  line-height: .4rem;
  padding: 0 .06rem;
  border-radius: .1rem;
  text-align: center;
  background-color: #ec9a71;
  color: #fff;
  font-size: .24rem;
  transform: rotate(-45deg);
}
.new-wrapper .new-add {
  margin: .2rem 0;
  padding: .2rem;
  background-color: #f1f1f1;
}
.new-wrapper .new-add .item {
  margin-bottom: .2rem;
  padding: .1rem;
}
.new-wrapper .new-add label {
  display: inline-block;
  width: 2rem;
  text-align: right;
}
.new-wrapper .new-add .item-three span {
  width: 1.46rem;
}

.auto-wrapper {
  padding: 0 0 .3rem;
}
.auto-wrapper .insurance-item {
  margin: .2rem;
}
.auto-wrapper .btn-item {
  padding: 0 .2rem;
}
.auto-wrapper h3 {
  padding-left: .2rem;
}

.auto-wrapper h4, .product-list h4 {
  height: .72rem;
  line-height: .72rem;
  background-color: rgba(30, 131, 211, 0.6);
  color: #fff;
  padding-left: .2rem;
}
.auto-wrapper h4 .fold-item, .product-list h4 .fold-item {
  float: right;
  width: .72rem;
  height: .72rem;
  background: #f1f1f1 url("../img/fold-down.png") no-repeat center;
  background-size: .4rem;
}
.auto-wrapper h4 .fold-item.active, .product-list h4 .fold-item.active {
  transform: rotate(180deg);
}

.product-list {
  padding-bottom: .3rem;
}
.product-list ul {
  margin-top: .2rem;
}
.product-list ul li {
  padding: .1rem .3rem;
  box-shadow: 0 4px 8px #ddd;
  margin-bottom: .2rem;
}
.product-list ul li h5 {
  height: .72rem;
  line-height: .72rem;
  font-size: .32rem;
  font-weight: bold;
}
.product-list ul li h5 b {
  font-weight: normal;
  color: #1e83d3;
  float: right;
}
.product-list ul li dl {
  overflow: hidden;
  font-size: .28rem;
}
.product-list ul li dl dt {
  float: left;
  width: 50%;
}
.product-list ul li dl dd {
  float: right;
  width: 50%;
  padding-right: 6%;
  text-align: right;
}
.product-list ul li dl dd p.valid {
  color: green;
}
.product-list ul li dl dd p.no-valid {
  color: red;
}
.product-list ul li dl dd p a {
  color: #ec9a71;
}
