/*body {
  background-color: #fff;
}*/
.home-list {
  background-color: #fff;
}
.home-list ul {
  height: 1.1rem;
  margin: 0 auto .1rem;
  white-space: nowrap;
  overflow-x: auto;
  padding: .1rem .2rem;
}
.home-list ul li {
  font-size: .36rem;
  line-height: .9rem;
  color: #b4b4b4;
  margin-right: .3rem;
  display: inline-block;
  text-align: center;
}
.home-list ul li.active {
  color: #ec9a71;
  border-bottom: 3px solid #ec9a71;
}

.home-content {
  width: 7rem;
  margin: 0 auto;
}

.warranty-title {
  font-size: .36rem;
  font-weight: bold;
  line-height: .72rem;
  color: #1e83d3;
}

.warranty-total {
  color: #ec9a71;
  line-height: .6rem;
  font-size: .3rem;
}
.warranty-total p {
  float: left;
}
.warranty-total p:last-of-type {
  float: right;
}

.warranty-list > li {
  margin-top: .2rem;
  background-color: #fff;
}
.warranty-list > li.list-one ul {
  background: #fff url(../img/list1.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.warranty-list > li.list-two ul {
  background: #fff url(../img/list2.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.warranty-list > li.list-three ul {
  background: #fff url(../img/list3.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.warranty-list > li.list-four ul {
  background: #fff url(../img/list4.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.warranty-list > li.list-none {
  background-color: #fff;
}
.warranty-list > li.list-none .list-none-title {
  text-align: center;
  height: 1rem;
  line-height: 1rem;
}
.warranty-list > li.list-none .list-none-title img {
  width: .6rem;
  vertical-align: middle;
}
.warranty-list > li.list-none .list-none-title b {
  display: inline-block;
  color: #666;
  font-weight: bold;
  font-size: .28rem;
  margin-left: .2rem;
  vertical-align: middle;
}
.warranty-list > li.list-none .list-none-word {
  text-align: center;
  height: 2.62rem;
  color: #999;
  font-weight: bold;
  font-size: .4rem;
  padding-top: .4rem;
}
.warranty-list > li div {
  width: 7rem;
  position: relative;
}
.warranty-list > li div ul {
  position: relative;
  width: 7rem;
  height: 2.82rem;
}
.warranty-list > li div h4 {
  width: 1rem;
  height: 1rem;
  background-color: #f3f8ff;
  text-align: center;
  display: table;
  border: .02rem solid #d2dff5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 1.28rem;
  margin-left: -.5rem;
  z-index: 111;
}
.warranty-list > li div h4 span {
  display: table-cell;
  vertical-align: middle;
}
.warranty-list > li div h4 img {
  height: .6rem;
}
.warranty-list > li div li {
  position: absolute;
  width: 1.35rem;
  text-align: center;
}
.warranty-list > li div li b {
  font-size: .24rem;
  color: #ec9a71;
  font-weight: normal;
  font-family: fontm;
}
.warranty-list > li div li.li-item1 {
  left: .48rem;
  top: 1.42rem;
}
.warranty-list > li div li.li-item2 {
  left: 5rem;
  top: .2rem;
}
.warranty-list > li div li.li-item3 {
  left: .48rem;
  top: .2rem;
}
.warranty-list > li div li.li-item4 {
  left: 5rem;
  top: 1.42rem;
}
.warranty-list > li div li h3 {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  border: .02rem solid #d2dff5;
  margin: 0 auto;
  background-color: #f3f8ff;
  padding: 0;
  line-height: 0;
  text-align: center;
}
.warranty-list > li div li h3 img {
  height: .29rem;
  margin-top: .1rem;
}
.warranty-list > li div li p {
  text-align: center;
  color: #8f8f8f;
  font-size: .24rem;
  line-height: .5rem;
  width: 2rem;
  position: relative;
  left: -.35rem;
}
.warranty-list > li h6 {
  text-align: center;
  font-weight: normal;
  color: #8f8f8f;
  font-size: .24rem;
  margin: 0;
  line-height: .75rem;
}
.warranty-list > li > p.list-total {
  padding: .2rem;
  font-size: .28rem;
  font-weight: bold;
}
.warranty-list > li > p.list-total span {
  display: inline-block;
  width: 49%;
  color: #1e83d3;
}
.warranty-list > li > p.list-total span:last-of-type {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
