/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

textarea {
  font-size: 14px;
  color: #333;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

body {
  font-size: 14px;
  color: #333;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

h3 {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}

.header {
  padding: 10px 10px 20px;
  border-bottom: 1px solid #ddd;
}
.header .server {
  background-color: #f6f6f6;
  padding: 10px 0;
}
.header li {
  float: left;
  width: 20%;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 20px;
}
.header li i {
  display: inline-block;
  width: 70px;
  text-align: right;
}
.header li span {
  padding: 1px 5px;
  background-color: #d8c58c;
  border-radius: 2px;
  font-weight: normal;
}
.header .choose {
  padding: 0 10px;
  margin-top: 10px;
  overflow: hidden;
}
.header .choose label {
  display: inline-block;
  vertical-align: middle;
}
.header .choose input {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}
.header .selected {
  padding: 10px;
}
.header .selected p {
  margin-bottom: 10px;
  display: none;
}
.header .selected p span {
  display: inline-block;
  padding: 1px 5px;
  background-color: #d8c58c;
  border-radius: 2px;
  margin: 0 10px 6px 0;
}

.content {
  padding: 10px;
}
.content .server-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 990px;
  height: 34px;
  cursor: pointer;
}
.content .server-style span {
  float: left;
  width: 165px;
  height: 34px;
  line-height: 34px;
  border-right: 1px dashed #999;
}
.content table.server-table > tbody > tr:first-of-type {
  background-color: #deb887;
}
.content table.server-table > tbody > tr:first-of-type td:first-of-type {
  background-color: #deb887;
  text-align: center;
  font-weight: bold;
}
.content table.server-table > tbody > tr > td {
  border: 1px solid #ddd;
}
.content table.server-table > tbody > tr > td:first-of-type {
  background-color: #f1f1f1;
  vertical-align: top;
  padding-top: 7px;
}
.content table.server-table > tbody > tr > td:last-of-type {
  width: 990px;
}
.content table.server-table .server-title {
  position: relative;
  height: 34px;
}
.content table.server-table .server-title .server-tip {
  position: absolute;
  width: 990px;
  top: 7px;
  left: 82.5px;
  z-index: 112;
}
.content table.server-table .server-title .server-tip b {
  float: left;
  width: 165px;
  text-align: center;
}
.content table.server-table .server-detail {
  position: relative;
}
.content table.server-table .server-detail .server-state p {
  height: 34px;
  line-height: 34px;
  background-color: #d3f5e7;
}
.content table.server-table .server-detail .error-state p {
  height: 34px;
  line-height: 34px;
  background-color: #f9d8d9;
}
.content table.server-table table.server-list {
  display: none;
}
.content table.server-table table.server-list tr {
  border-top: 1px solid #ddd;
}
.content table.server-table table.server-list tr td {
  padding: 7px 5px;
}
.content table.server-table table.server-list tr td:first-of-type {
  width: 100px;
  background-color: #eee;
  text-align: right;
  font-weight: bold;
  color: #444;
}
.content table.server-table table.server-list tr td .server-code {
  display: inline-block;
  width: 80px;
  line-height: 22px;
  text-align: center;
  border-radius: 4px;
}
.content table.server-table table.server-list tr td .success-code {
  background-color: #d3f5e7;
}
.content table.server-table table.server-list tr td .error-code {
  background-color: #f9d8d9;
}
.content table.server-table table.server-list tr td.process {
  position: relative;
}
.content table.server-table table.server-list tr td.process ul {
  display: none;
}
.content table.server-table table.server-list tr td.process.list-fold p {
  display: none;
}
.content table.server-table table.server-list tr td.process.list-fold ul {
  display: block;
}
.content table.server-table table.server-list tr td.process.list-fold ul li:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content table.server-table table.server-list a.fold {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/icon-down.png") no-repeat center;
  background-size: 20px;
  right: 0;
  top: 0;
}
.content table.server-table table.server-list a.fold.active {
  background: url("../img/icon-up.png") no-repeat center;
  background-size: 20px;
}
.content table.server-table table.server-list textarea {
  width: 892px;
  height: 100px;
  vertical-align: middle;
  border: none;
  outline: none;
  resize: none;
}

.content-new .server-style {
  width: 990px;
}
.content-new .server-style span {
  float: left;
  width: 198px;
}
.content-new table.server-table > tbody > tr > td:last-of-type {
  width: 990px;
}
.content-new table.server-table .server-title .server-tip {
  width: 990px;
  left: 99px;
}
.content-new table.server-table .server-title .server-tip b {
  width: 198px;
}
.content-new table.server-table table.server-list textarea {
  width: 892px;
}

.search {
  padding: 30px 10px;
  border-bottom: 1px solid #ddd;
  height: 107px;
}
.search .search-box > div {
  float: left;
}
.search .search-span {
  position: relative;
  width: 101px;
}
.search .search-span span {
  display: inline-block;
  width: 101px;
  height: 45px;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
}
.search .search-span span b {
  font-weight: normal;
}
.search .search-span span i {
  padding: 8px;
  background: url("../img/icon-triangle.png") no-repeat center;
  background-size: 16px;
  margin-left: 2px;
}
.search .search-span ul {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 11111;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 2px rgba(191, 191, 191, 0.42);
  box-shadow: 0 0 8px 2px rgba(191, 191, 191, 0.42);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
.search .search-span ul li {
  line-height: 36px;
  padding-left: 5px;
  cursor: pointer;
}
.search .search-span ul li:hover {
  background-color: #eee;
}
.search .search-input {
  width: 420px;
  height: 45px;
  border: 1px solid #e5e5e5;
  border-left: none;
}
.search .search-btn {
  width: 100px;
  height: 46px;
  line-height: 44px;
  text-align: center;
  background-color: #deb887;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  letter-spacing: 2px;
  font-size: 16px;
}
.search input {
  width: 400px;
  height: 42px;
  border: none;
  padding-left: 8px;
  outline: none;
}

.result {
  padding: 20px 10px;
}
.result thead {
  background-color: #deb887;
}
.result th, .result td {
  padding: 10px 3px;
  border: 1px solid #ddd;
}
.result tr {
  cursor: pointer;
}
.result tr:nth-of-type(even) {
  background-color: #f1f1f1;
}
.result tr:hover {
  background-color: rgba(222, 184, 135, 0.2);
}
.result .pagination {
  margin-top: 20px;
  float: right;
}
.result .pagination ul {
  overflow: hidden;
}
.result .pagination li {
  float: left;
  margin-left: 10px;
  line-height: 14px;
  background-color: #eee;
  padding: 10px;
}
.result .pagination li a:hover {
  color: #deb887;
}
.result .pagination li.active {
  background-color: #deb887;
}
.result .pagination li.active a {
  color: #fff;
}

.nav {
  height: 66px;
  line-height: 66px;
  box-shadow: 0 0 4px 4px #ddd;
}
.nav li {
  float: left;
  padding: 0 40px;
  font-size: 16px;
  font-weight: bold;
}
.nav li.active {
  background-color: #deb887;
}
