@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header, footer {
  height: 5rem;
}

a {
  display: block;
  width: 10rem;
  margin: 10px 0;
  font-size: 16px;
}
[data-dpr="2"] a {
  font-size: 32px;
}
[data-dpr="3"] a {
  font-size: 48px;
}

/*$size 建议取双数*/
.circle {
  width: 40px;
  height: 40px;
  background-color: red;
}
[data-dpr="1"] .circle {
  width: 20px;
  height: 20px;
}
[data-dpr="3"] .circle {
  width: 60px;
  height: 60px;
}
